@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

// mixin for inserting retina images
@mixin retina-img($file, $repeat, $width, $height, $left, $top) {
    @media only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        background-image: url('#{$file}');
        background-position: $left $top;
        background-size: $width $height;
        background-repeat: $repeat;
    }
}

// mixin for media queries
@mixin desktop-view {
    @media (min-width: $desktop) {
        @content;
    }
}
