//-------------------------------------//

// GRID
$grid-gutter: 30px;

//-------------------------------------//
// MEDIA QUERIES
$desktop: 768px;


//-------------------------------------//

// DIMENSIONS

// navmenu height
$height-navmenu: 50px;
$border-width-navmenu: 1px;

//-------------------------------------//

// FONTS

// fonts: base styles
$montserat: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$opensans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-primary: $opensans;
$font-size-base: 14px;

// fonts: weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

//-------------------------------------//

// COLORS

// colors: base font
$color-font-base: #555;
$color-font-base-light: #999;

// colors: primary
$color-brand-1: #2196f3; // blue
$color-brand-2: #dc824c; // orange
$blue-gray: #87a1b7;
$light-gray: #f8f8f8;

//color: online/offline circle
$color-online-button: #5aed7d;
$color-offline-button: #ccc;

//colors: shadow
$color-box-shadow: #5b5b5b;

// colors: banner background
$color-banner-bg: #e8e8e8;

// colors: links
$color-link: $color-brand-1;
$color-link-hover: darken($color-link, 15%);
$color-menu-link: #dedede;
$color-menu-link-hover: lighten($color-menu-link, 15%);
$color-pink-button: #e91e63; // pink
$color-disabled-link: #d9f1fc;
$color-turquoise: #45d0d3;

// colors: progress circles
$color-elementary: #ff6300;
$color-intermediate: #fcca0b;
$color-advanced: #5eb546;
$color-fluent: #0096e8;
$color-native: #0079bc;
