.bilingua-popup {
    &__daily-rewards {
        border-radius: 3% !important;
        letter-spacing: 0.4px;

        .about-me-popup__title {
            text-transform: capitalize;
        }

        &__days {
            color: #019fe8;
            font-weight: 500;
            font-size: 1.14286rem;
        }

        img {
            max-width: 100px;
            height: 100%;
            text-align: center;
            border-radius: 50%;
        }

        &__points {
            font-size: 1rem;
            font-weight: 400;
        }

        .button.button-fill {
            border-radius: 5px;
            font-weight: 700;
        }
    }

    &__invite {
        text-align: center;

        img {
            max-width: 250px;
        }
    }
}
