.options-toolbar {
    overflow: visible;
    padding: 0 16px;
    background: transparent;
    font-size: 16px;

    a.back-button {
        display: block;
    }
}

.options-popup {
    @media screen and (max-width: 630px) {
        width: 80%;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        top: 10%;
    }

    &__user {
        color: #019fe8;
        font-size: 16px;
    }

    &__text {
        color: #555;
        font-weight: $font-light;
    }

    &__title {
        color: #67c5f1;
    }

    label.label-checkbox i.icon-form-checkbox {
        border-radius: 50%;
        border-color: #019fe8;
        width: 23px;
        height: 23px;
    }

    label.label-checkbox i.icon-form-checkbox:after {
        width: 20px;
        top: 0;
        left: 0;
    }

    .list-block .item-inner:after {
        background: transparent;
    }

    .media:before {
        border: none;
    }

    &__links {
        float: right;
        text-transform: uppercase;

        a {
            color: #019fe8;
            padding-left: 30px;
            font-weight: $font-bold;
            z-index: 4;
        }
    }

    &__reason {
        color: #666;
        font-weight: $font-light;
        display: none;
    }

    textarea {
        border: 1px solid #e5e5e5;
        margin-top: 10px;
        color: 6666;
        font-weight: $font-light;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.report-button.is-disabled {
    color: #d9f1fc;
    pointer-events: none;
}

.report-button.is-disabled {
    display: none;
}

.options-popup:not(.tablet-fullscreen),
.popup:not(.tablet-fullscreen) {
    @media (min-height: 630px) and (min-width: 630px) {
        width: 50%;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        top: 15%;
    }
}
