.btn {
    border-radius: 0;
}

.btn-lg {
    font-weight: $font-bold;
}

.btn-primary {
    color: #fff;
    background: $color-brand-1;

    &:hover,
    &:focus {
        background: darken($color-brand-1, 5%);
    }
}

.button--outline {
    color: $color-pink-button;
    background-color: white;
    box-shadow: none;
    border: 1px solid currentColor;
    font-weight: $font-bold;
}
