*[class^='error-msg-'] {
    margin-bottom: 10px;
}

.errors,
.error-login {
    color: #b94a48;
    padding: 5px 10px;
    background-color: #f2dede;
    border-color: #eed3d7;
    border-radius: 5px;
    display: none;
}
