.options-popup {
    &__link {
        float: right;
        padding-right: 20px;
        text-transform: uppercase;

        a {
            color: #019fe8;
            padding-left: 30px;
            font-weight: $font-bold;
            z-index: 4;
        }
    }

    .address-title {
        color: #019fe8;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
    }
}
