.header {
    z-index: 9999;

    &__options {
        float: right;
        position: relative;
    }

    .isActive .dropdown {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
        transition-duration: 250ms, 250ms;
        transition-timing-function: ease-out, ease-out;
    }

    &__dots {
        color: white;
        padding: 0 8px;
        text-align: center;
    }

    .dropdown {
        background-color: white;
        height: auto;
        width: 160px;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        z-index: 9999;
        box-sizing: border-box;
        top: 0;
        right: 0;
        box-shadow: 0 3px 15px -3px #5b5b5b;
        opacity: 0;
        transform: scale(0) translate3d(0, 0, 0);
        transition: opacity 150ms ease-in, transform 150ms ease-in;
        transform-origin: right 0;

        @include desktop-view {
            top: -5px;
        }

        a {
            color: #2196f3;
            display: block;
            line-height: 1;
            padding: 10px;
            font-size: 16px;

            &:hover {
                color: white;
                background: #2196f3;
            }
        }
    }
}

.popup_header {
    height: auto;
    text-align: center;
    background-color: #2196f3;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.touchevents .conversation-item__options {
    background-color: white;
    height: 73px;
    width: 110px;
    position: absolute;
    margin-left: -50px;
    left: 50%;
    z-index: 9999;
    box-sizing: border-box;
    top: 10px;
    box-shadow: 0 3px 15px -3px #5b5b5b;
    display: none;

    a {
        color: #2196f3;
        display: block;
        margin-left: 3px;
        line-height: 1;
        padding: 10px;
    }
}

.conversation-item {
    &.isActive &__options {
        display: block;
    }

    &__options {
        background-color: white;
        height: 73px;
        width: 110px;
        position: absolute;
        margin-left: 79%;
        z-index: 9999;
        box-sizing: border-box;
        top: 10px;
        box-shadow: 0 3px 15px -3px #5b5b5b;
        display: none;

        a {
            color: #2196f3;
            display: block;
            margin-left: 3px;
            line-height: 1;
            padding: 10px;
        }
    }
}
