/* progress bar */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.set-size {
    font-size: 42px;
}

.pie-wrapper {
    height: 41px;
    width: 41px;
    top: -3px;
    left: -5px;
    position: relative;
}

.pie-wrapper:nth-child(3n+1) {
    clear: both;
}

.pie-wrapper {
    .pie {
        height: 100%;
        width: 100%;
        clip: rect(0, 1em, 1em, 0.5em);
        left: 0;
        position: absolute;
        top: 0;
    }
}

.pie-wrapper {
    .pie {
        .half-circle {
            height: 100%;
            width: 100%;
            border: 3px solid transparent;
            border-radius: 50%;
            clip: rect(0, 0.5em, 1em, 0);
            left: 0;
            position: absolute;
            top: 0;
        }
    }
}

/* PROGRESS-ELEMENTARY */
.pie-wrapper.progress-elementary {
    .pie {
        .right-side {
            display: none;
        }

        .half-circle {
            border-color: $color-elementary;
        }

        .left-side {
            transform: rotate(90deg);
        }
    }
}

/* PROGRESS-INTERMEDIATE */
.pie-wrapper.progress-intermediate {
    .pie {
        .right-side {
            display: none;
        }

        .half-circle {
            border-color: $color-intermediate;
        }

        .left-side {
            transform: rotate(162deg);
        }
    }
}

/* PROGRESS-ADVANCED */
.pie-wrapper.progress-advanced {
    .pie {
        clip: rect(auto, auto, auto, auto);

        .right-side {
            transform: rotate(180deg);
        }

        .half-circle {
            border-color: $color-advanced;
        }

        .left-side {
            transform: rotate(234deg);
        }
    }
}

/* PROGRESS-FLUENT */
.pie-wrapper.progress-fluent {
    .pie {
        clip: rect(auto, auto, auto, auto);

        .right-side {
            transform: rotate(180deg);
        }

        .half-circle {
            border-color: $color-fluent;
        }

        .left-side {
            transform: rotate(306deg);
        }
    }
}

/* PROGRESS-NATIVE */
.pie-wrapper.progress-native {
    .pie {
        clip: rect(auto, auto, auto, auto);

        .right-side {
            transform: rotate(180deg);
        }

        .half-circle {
            border-color: $color-native;
        }

        .left-side {
            transform: rotate(360deg);
        }
    }
}

.proficiency--elementary {
    color: $color-elementary;
}

.proficiency--intermediate {
    color: $color-intermediate;
}

.proficiency--advanced {
    color: $color-advanced;
}

.proficiency--fluent {
    color: $color-fluent;
}

.proficiency--native {
    color: $color-native;
}
