.popup {
    max-width: 450px;
}

.profile-image-popup,
.cover-image-popup,
.about-me-popup,
.daily-rewards,
.tagline-popup {
    @media screen and (max-width: 630px) {
        width: 80%;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        top: 10%;
    }

    .about-save.is-not-active {
        color: #d9f1fc;
        pointer-events: none;
    }
}

.profile-image-popup:not(.tablet-fullscreen),
.cover-image-popup:not(.tablet-fullscreen),
.about-me-popup:not(.tablet-fullscreen),
.tagline-popup:not(.tablet-fullscreen) {

    @media (min-height: 630px) and (min-width: 630px) {
        width: 50%;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        top: 15%;
    }
}

.profile-image-popup {
    &__title {
        text-align: center;
        color: #019fe8;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: $font-normal;
        padding-bottom: 30px;
    }

    &__upload {
        width: 40%;
        margin: 0 auto;
    }

    &__close {
        color: #019fe8;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: block;
        font-weight: $font-bold;
    }

    .cancel {
        display: inline;
        margin-right: 20px;
    }

    .delete {
        display: inline;
    }

    .buttons {
        width: 100%;
        text-align: center;
    }

    .dropzone-previews {
        text-align: center;
    }
}

.cover-image-popup {
    &__title {
        text-align: center;
        color: #019fe8;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: $font-normal;
        padding-bottom: 30px;
    }

    &__upload {
        width: 40%;
        margin: 0 auto;
    }

    &__close {
        color: #019fe8;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: block;
        font-weight: $font-bold;
    }

    .cancel {
        display: inline;
        margin-right: 20px;
    }

    .delete {
        display: inline;
    }

    .buttons {
        width: 100%;
        text-align: center;
    }

    .dropzone-previews {
        text-align: center;
    }
}

.about-me-popup,
.tagline-popup {
    &__title {
        text-align: center;
        color: #019fe8;
        text-transform: uppercase;
        font-size: 16px;
    }

    &__close {
        color: #019fe8;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: block;
        font-weight: $font-bold;
    }

    &__save {
        width: 40%;
        margin: 0 auto;
    }

    textarea {
        border: 1px solid #e5e5e5;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        color: #666;
        font-weight: $font-light;
    }

    .list-block .item-inner:after {
        background: transparent;
    }
}
