div[data-page=who-can-find-me],
div[data-page=filter-users] {
    .age {
        .rangeValues {
            font-size: 15px;
            font-weight: $font-normal;
            color: #a3a3a3;
            text-align: center;
            display: block;
        }

        .noUi-background {
            background: #a7d2f1;
            box-shadow: none;
        }

        .noUi-horizontal .noUi-handle {
            width: 20px;
            height: 20px;
            left: -10px;
            top: -7px;
        }

        .noUi-handle {
            border-radius: 50%;
            border: none;
            background: #019fe8;
            box-shadow: none;
            cursor: pointer;
        }

        .noUi-handle:after,
        .noUi-handle:before {
            content: none;
        }

        .noUi-base {
            height: 5px;
        }

        .clickable-area {
            height: 40px;
            position: absolute;
            top: -15px;
            width: 100%;
        }

        .noUi-connect {
            background: #019fe8;
            box-shadow: none;
        }

        .noUi-target {
            border: none;
        }

        .noUi-horizontal {
            height: 5px;
            margin-top: 30px;
            cursor: pointer;
        }
    }
}
