div[data-page=feature-intro] > .page-content {
    padding-top: 0 !important;

    .swiper-container {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
