.splash-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40vh;
    background: $color-brand-1;
    z-index: 9999;
    text-align: center;
}
