.tabbar .tab-link-highlight {
    height: 6px;
    width: 33%;
    transform: translate3d(0%, 0, 0);
}

.tabbar {
    @include desktop-view {
        overflow: visible;
        top: 0;
    }
}

.toolbar-inner {
    @include desktop-view {
        width: 40%;
        margin-left: 20%;
    }
}
