.user-item {
    &__avatar {
        text-align: center;
        width: 64px;
        height: 64px;
        margin: 0 auto;

        img {
            height: auto;
        }
    }
}

.media {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 102px;
        border-bottom: 1px solid #eee;
    }
}
