div[data-page=about] {
    .page-content {
        padding-top: 50px !important;
        width: 100%;

        @include desktop-view {
            padding-top: 0 !important;
            margin-top: 104px;
            background: white;
            border-radius: 6px;
            height: 80%;
        }
    }

    .page {
        overflow: auto;
    }

    .user-box {
        margin-top: 104px;
    }

    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    }

    p {
        font-size: 16px;
    }
}
