div[data-page=blocked-users] {
    .page-content {
        padding-top: 24px;
        width: 100%;
    }

    .page-content {
        @include desktop-view {
            background: white;
            padding-top: 0;
            margin-top: 104px;
            border-radius: 6px;
        }
    }

    .list-block {
        @include desktop-view {
            margin: 0;
        }
    }

    .user-box {
        margin-top: 104px;
    }

    .blocked-users-list {
        .item-inner {
            @media screen and (max-width: 700px) {
                padding-top: 0;
                padding-bottom: 0;
            }
            @media screen and (min-width: 701px) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        &__media {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0;
                width: 72px;
                border-bottom: 1px solid #eee;
            }
        }

        &__avatar {
            text-align: center;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            border-radius: 50%;

            img {
                height: auto;
            }
        }

        &__title {
            font-family: $font-primary;
            font-size: $font-size-base;
            font-weight: $font-normal;
            text-transform: capitalize;
            color: #555;
            margin: 0;
            padding-top: 23px;
        }
    }
}
