div[data-page=chatroom] {
    .emoji {
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        margin-bottom: -0.25em;
        background-size: contain;
    }

    .mobile-message-bar {
        display: block;
        @include desktop-view {
            display: none;
        }
    }

    .desktop-message-bar {
        display: none;

        @include desktop-view {
            display: block;
        }
    }

    .messages-content {
        z-index: auto;
        height: 100vh;
        @include desktop-view {
            height: 700px;
            position: relative;
        }
    }

    .user-box {
        margin-top: 104px;
    }

    .messages-wrapper {
        @include desktop-view {
            height: 100%;
            overflow: auto;
        }
    }

    .page-content {
        @include desktop-view {
            margin-top: 104px;
            border-radius: 6px;
        }
    }

    .toolbar-inner {
        @include desktop-view {
            width: 100%;
            margin: 0;
        }
    }

    .read-text {
        cursor: pointer;
	}
    .chat-user {
        cursor: pointer;
    }

    .chat-screen {
        background: white;
        width: 100%;
    }

    .content-block.languages {
        padding: 0;
    }

    .languages {
        &__wrapper {
            text-align: center;
            max-width: 100%;
            margin: 0 auto;
        }

        .language-container {
            display: inline-block;
            vertical-align: middle;
            width: 100%;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }

        .arrow {
            width: 5%;
        }

        &__column {
            display: inline-block;
            margin: 10px 10px;
        }

        .language-title {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
            font-weight: $font-light;
            color: $color-font-base-light;
        }

        .fa-chevron-right {
            margin-top: 25px;

            @media screen and (max-width: 700px) {
                display: none;
            }
        }

        &__flag-container {
            text-align: center;
            margin: 0 auto;
            position: relative;
            backface-visibility: hidden;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid transparent;
                object-fit: cover;
            }

            .charts-container {
                width: 31px;
                height: 31px;
                top: 0;
                left: 50%;
                margin-left: -15.5px;
                position: absolute;
            }
        }
    }

    .user-interests {
        &__title {
            text-align: center;
            font-weight: $font-light;
            color: $color-font-base-light;
            font-size: $font-size-base;
            margin: 0;
        }

        &__chips {
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            padding-top: 25px;

            .custom-chip {
                margin: 3px 3px 3px 0;
                background: white;
                border: 1px solid $color-brand-1;
                white-space: normal;
                color: $color-brand-1;
                font-weight: bold;
                cursor: pointer;
            }

            .custom-chip.bg-blue, .custom-chip:hover {
                background: $color-brand-1;
                color: white;
            }
        }
    }

    .user-box {
        display: none;

        @include desktop-view {
            display: block;
            background: white;
            max-width: 300px;
            border-radius: 6px;
            padding-bottom: 30px;
            color: #757575;
            margin-top: 104px;
        }

        &__header {
            img {
                height: 70px;
                width: 100%;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                object-fit: cover;
            }
        }

        .user-fixed-text {
            text-align: center;

            p {
                margin-top: 0;
            }
        }

        &__avatar {
            text-align: center;
            width: 90px;
            height: 90px;
            margin: 0 auto;
            margin-top: -50px;

            img {
                width: 100%;
                height: 100%;
                border: 5px solid #fff;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &__flag {
            text-align: center;
            margin-top: -18px;
            padding-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            width: 32px;
            height: 34px;
            border-radius: 13px;
            overflow: hidden;
        }

        &__user {
            text-align: center;
            color: #2196f3;
            text-transform: capitalize;
        }

        &__welcome {
            text-align: center;
            color: #757575;

            p {
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        &__mascot {
            margin: 0 auto;
            width: 220px;

            img {
                width: 100%;
            }
        }

        &__shiro {
            text-align: center;
            padding: 0 30px;
            color: #757575;
        }

        &__button {
            margin-top: 30px;
        }

        .share-button {
            width: 70%;
            margin: 0 auto;
        }

        .feedback-button {
            width: 70%;
            margin: 0 auto;
            margin-top: 10px;

            .button {
                background: #45d0d3 !important;
            }
        }

        &__level {
            text-align: center;
            margin-top: 15px;
        }

        &__points {
            text-align: center;
            margin-top: 15px;
        }

        &__notifications {
            text-align: center;

            h2 {
                text-align: center;
                margin-top: 35px;
                margin-bottom: 10px;
                color: #2196f3;
            }
        }
    }

    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    }

    .message-text {
        color: #555;
    }

    .toolbar.messagebar textarea {
        color: #555;
    }

    .navbar-fixed.toolbar-fixed .page-content.chat-screen {
        padding-top: 56px;

        @include desktop-view {
            padding-top: 0;
        }
    }

    .message-bar {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        position: fixed;
        bottom: 0;
        z-index: 14;

        @include desktop-view {
            position: absolute;
            border-top: none;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        &__smiley {
            color: #5c5c5c;
            margin-left: 11px;
        }

        &__send {
            color: #d6d6d6;
        }
    }

    .message-bar__send.active {
        color: #2196f3;
    }

    .options-toolbar {
        overflow: visible;
        padding: 0 16px;
        font-size: 16px;

        a.back-button {
            padding: 0;
            margin-right: 16px;
        }
    }

    .chat {
        padding-bottom: 100px;
        background: white;
        //.-sent {
        //    background-color: #d9f1fc;
        //    border-radius: 4px 4px 0 4px;
        //    min-height: auto;
        //    margin-right: 5px;
        //    padding-right: 20px;
        //}
        //.-received {
        //    background-color: #f0f0f0;
        //    border-radius: 4px 4px 4px 0;
        //    min-height: auto;
        //    margin-left: 5px;
        //    padding-left: 40px;
        //}

        .message {
            @media (min-height: 630px) and (min-width: 630px) {
                .chat__send-dots {
                    visibility: hidden;
                }

                .chat__received-dots {
                    visibility: hidden;
                }
            }

            @media (max-width: 767px) {
                .chat__send-dots {
                    display: none;
                }

                .chat__received-dots {
                    display: none;
                }
            }
        }

        .message:hover {
            .chat__send-dots {
                visibility: visible;
            }

            .chat__received-dots {
                visibility: visible;
            }
        }

        .message-sent .message-text {
            background-color: #d9f1fc;
            border-radius: 4px 4px 0 4px;
            min-height: auto;
            margin-right: 5px;
            padding-right: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .message-received .message-text {
            background-color: #f0f0f0;
            border-radius: 4px 4px 4px 0;
            min-height: auto;
            margin-left: 5px;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .noselect {
            user-select: none;
        }

        .message-sent .message-text:before {
            border-bottom: 8px solid #d9f1fc;
        }

        .message-received .message-text:before {
            border-bottom: 8px solid #f0f0f0;
        }

        .message-sending .message-text {
            background: #e8f4fa;
        }

        .message-sending .message-text:before {
            border-bottom: 8px solid #e8f4fa;
        }

        .message-error .message-text {
            background: #ff8d6f;
        }

        .message-error .message-text:before {
            border-bottom: 8px solid #ff8d6f;
        }

        &__hour {
            float: right;
            font-size: 12px;
            margin-top: 4px;
            padding-left: 5px;
            color: #acacac;
        }

        &__send-dots {
            padding: 0 10px;
            position: absolute;
            top: 10px;
            right: 5px;
            color: #019fe8;
            z-index: 10;
        }

        &__received-dots {
            padding: 0 16px;
            position: absolute;
            top: 10px;
            left: 0;
            color: #019fe8;
            z-index: 10;
        }

        .message-sent,
        .message-received {
            position: relative;
        }
    }

    .header {
        z-index: 9999;

        &__options {
            float: right;
            position: relative;
        }

        .isActive .dropdown {
            opacity: 1;
            transform: scale(1) translate3d(0, 0, 0);
            transition-duration: 250ms, 250ms;
            transition-timing-function: ease-out, ease-out;
        }

        &__dots {
            color: white;
            padding: 0 8px;
            text-align: center;
        }

        .dropdown {
            background-color: white;
            height: auto;
            width: 160px;
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            z-index: 9999;
            box-sizing: border-box;
            top: 0;
            right: 0;
            box-shadow: 0 3px 15px -3px #5b5b5b;
            opacity: 0;
            transform: scale(0) translate3d(0, 0, 0);
            transition: opacity 150ms ease-in, transform 150ms ease-in;
            transform-origin: right 0;

            a {
                color: #2196f3;
                display: block;
                line-height: 1;
                padding: 10px;
                font-size: 16px;
            }

            a:hover {
                color: white;
                background: #2196f3;
            }
        }
    }

    .is-active .dropdown-received,
    .is-active .dropdown-sent {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
        transition-duration: 250ms, 250ms;
        transition-timing-function: ease-out, ease-out;
    }

    .dropdown-received {
        background-color: white;
        height: auto;
        width: 130px;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        z-index: 9999;
        box-sizing: border-box;
        top: 20px;
        left: 10px;
        box-shadow: 0 3px 15px -3px #5b5b5b;
        opacity: 0;
        transform: scale(0) translate3d(0, 0, 0);
        transition: opacity 150ms ease-in, transform 150ms ease-in;
        transform-origin: left 0;

        a {
            color: #2196f3;
            display: block;
            line-height: 1;
            padding: 10px;
            font-size: 16px;

            &:hover {
                color: white;
                background: #2196f3;
            }
        }
    }

    .dropdown-sent {
        background-color: white;
        height: auto;
        width: 130px;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        z-index: 9999;
        box-sizing: border-box;
        top: 20px;
        right: 10px;
        box-shadow: 0 3px 15px -3px #5b5b5b;
        opacity: 0;
        transform: scale(0) translate3d(0, 0, 0);
        transition: opacity 150ms ease-in, transform 150ms ease-in;
        transform-origin: right 0;

        a {
            color: #2196f3;
            display: block;
            line-height: 1;
            padding: 10px;
            font-size: 16px;

            &:hover {
                color: white;
                background: #2196f3;
            }
        }
    }

    .how-to {
        color: #555;
        font-size: 16px;

        li {
            padding-bottom: 20px;

            a {
                color: #019fe8;
                font-size: 16px;
                line-height: 190%;
            }
        }
    }

    .cancel {
        float: right;
        text-transform: uppercase;
        color: #666;
        font-size: 16px;
    }

    .chat-user {
        width: 100%;

        &__image {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            float: left;
            margin-right: 10px;
            object-fit: cover;
        }

        &__name {
            margin-top: 10px;
        }
    }

    .options-popup {
        @media screen and (max-width: 630px) {
            width: 80%;
            height: auto;
            margin: auto;
            left: 0;
            right: 0;
            top: 10%;
        }

        &__user {
            color: #019fe8;
            font-size: 16px;
        }

        &__text {
            color: #555;
            font-weight: $font-light;
        }

        &__title {
            color: #67c5f1;
        }

        label.label-checkbox i.icon-form-checkbox {
            border-radius: 50%;
            border-color: #009fe8;
            width: 23px;
            height: 23px;
        }

        label.label-checkbox i.icon-form-checkbox:after {
            padding: 2px;
        }

        .list-block .item-inner:after {
            background: transparent;
        }

        &__links {
            float: right;
            text-transform: uppercase;
            padding-bottom: 10px;

            a {
                color: #019fe8;
                padding-left: 30px;
                font-weight: $font-bold;
                z-index: 4;
            }
        }

        &__reason {
            color: #555;
            font-weight: $font-light;
            display: none;
        }

        .text-area {
            border: 1px solid #e5e5e5;
            margin-top: 10px;
            color: #555;
            font-weight: $font-light;
            padding-left: 10px;
        }
    }

    .options-popup:not(.tablet-fullscreen) {
        @media (min-height: 630px) and (min-width: 630px) {
            width: 50%;
            height: auto;
            margin: auto;
            left: 0;
            right: 0;
            top: 15%;
        }
    }

    .learn-popup {
        @media screen and (max-width: 630px) {
            width: 80%;
            height: auto;
            margin: auto;
            left: 0;
            right: 0;
            top: 10%;
        }
    }

    .learn-popup:not(.tablet-fullscreen) {
        @media (min-height: 630px) and (min-width: 630px) {
            width: 50%;
            height: auto;
            margin: auto;
            left: 0;
            right: 0;
            top: 15%;
        }
    }

    .unread-message {
        background: #2196f3;
        color: #fff;
        border-radius: 3px;
        margin: 0 1.25rem 0.5rem 1.25rem;
        padding: 3px;
        font-weight: 900;
        text-align: center;

        .clear-unread-messages {
            color: #fff;
            float: right;
            cursor: pointer;
            font-weight: 700;
            font-size: 0.625rem;
            line-height: 1.5rem;
        }
    }
}
