div[data-page='chats'] {
    .navbar {
        @include desktop-view {
            display: none;
        }
    }

    .content-blocks--main {
        height: auto;
    }

    .total-unread-messages {
        .unread-messages {
            position: absolute;
            right: 15px;
            top: 18px;
            height: 25px;
            font-size: 1.14286rem;
            font-weight: bold;
            text-align: center;
        }
    }

    .desktop-search {
        display: none;

        @include desktop-view {
            display: block;
            position: relative;
            top: -40px;
            width: 30px;
            height: 30px;
            padding: 0 16px;
            float: right;
            right: 15%;
        }
    }

    .user-dropdown {
        position: relative;
        top: -102px;
        left: 89%;
        width: 50px;

        &__avatar {
            text-align: center;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-top: -50px;

            img {
                width: 100%;
                height: 100%;
                border: 2px solid #fff;
                border-radius: 50%;
            }
        }

        &__arrow {
            margin-left: 75px;
            margin-top: 10px;
        }
    }

    .conversation-page {
        padding: 0;
        margin-top: 0;
        width: 100%;

        @include desktop-view {
            padding-bottom: 40px;
        }

        .list-block.media-list .item-inner {
            @media screen and (min-width: 701px) {
                padding-top: 0;
                padding-bottom: 14px;
            }
            @media screen and (max-width: 700px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .list-block .item-text {
            margin: 0;
        }

        .noConversations {
            color: #999;
            text-align: center;

            h2 {
                padding: 0 40px;
                font-size: 16px;
            }

            img {
                max-width: 150px;
                height: auto;
                margin-top: 15%;
            }

            @include desktop-view {
                background: #f3f3f3;
                border-radius: 6px;
                height: auto;
                position: relative;
                padding-bottom: 40px;
            }
        }
    }

    .list-block .item-text {
        margin: 0;
    }

    .toolbar {
        height: 56px;
    }

    .navbar-fixed .toolbar {
        top: 48px;

        @include desktop-view {
            top: 0;
        }
    }

    .conversation-list {
        margin: 0;
        cursor: pointer;

        ul > li:nth-child(2n) {
            background: #f8f8f8;
        }

        @include desktop-view {
            background: white;
            border-radius: 6px;
        }
    }

    .fa-long-arrow-right {
        margin-top: 10px;
        margin-right: 10px;
        float: left;
    }

    .language-flag-container {
        float: left;
        text-align: center;
        width: 28px;
        height: 28px;
        margin: 0 auto;
        border-radius: 50%;

        img {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    //proficiency circles
    .set-size {
        font-size: 22px;
    }

    .pie-wrapper {
        height: 1em;
        width: 1em;
        top: 20px;
        left: -2px;
        margin-top: -15px;
        position: relative;
    }

    .noselect {
        user-select: none;
    }

    .conversation-item {
        &.isActive &__options {
            display: block;
        }

        .item-title-row {
            @media screen and (min-width: 701px) {
                padding-top: 15px;
            }
        }

        .item-media {
            @media screen and (max-width: 700px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .item-text {
            display: block;
            clear: both;
            padding: 0;
            margin: 0;
        }

        &__media {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0;
                width: 102px;
                border-bottom: 1px solid #eee;
            }
        }

        &__languages {
            padding-left: 2px;
            float: left;
            margin-bottom: 5px;

            .-elementary,
            .-intermediate,
            .-advanced,
            .-fluent,
            .-native {
                //float: left;
                display: inline-block;
                padding-right: 10px;
            }
        }

        &__interests {
            display: block;
            margin: 0 0 5px;
            text-transform: lowercase;
        }

        .item-inner {
            @media screen and (max-width: 700px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            @media screen and (min-width: 701px) {
                padding-top: 0;
                padding-bottom: 14px;
            }
        }

        &__avatar {
            text-align: center;
            width: 70px;
            height: 70px;
            margin: 0 auto;
            border-radius: 50%;
            cursor: pointer;
            object-fit: cover;

            img {
                height: auto;
            }
        }

        &__flag {
            text-align: center;
            width: 32px;
            height: 34px;
            border-radius: 13px;
            overflow: hidden;
            left: 10px;
            top: 60px;
            position: absolute;
        }

        &__last-login {
            color: #999;
            @media screen and (min-width: 701px) {
                padding-right: 10px;
            }
        }

        &__badge-placeholder {
            text-align: center;
            float: right;
            margin: 25px 5px 0;

            .unread-messages {
                height: auto;
                font-size: 16px;
            }
        }

        &__title {
            font-family: $font-primary;
            font-size: $font-size-base;
            font-weight: $font-normal;
            text-transform: capitalize;
            color: #555;
            margin: 0;
            cursor: pointer;
        }

        &__lastmessage {
            color: #999;
            font-size: $font-size-base;
            font-weight: $font-normal;
            margin: 0;
            display: block;
            width: 80%;
        }
    }

    .online-circle, .offline-circle {
        margin-left: 5px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid transparent;
        padding: 3px 3px;
    }

    .online-circle {
        background: #5aed7d;
    }

    .offline-circle {
        background: #ccc;
    }

    .options-dots {
        color: #2196f3;
        width: 30px;
        text-align: center;

        &:hover {
            @extend a:hover;
        }

        @media screen and (max-width: 700px) {
            display: none;
        }
    }

    .options-dots:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 60px;
    }

    .infinite-scroll-preloader {
        margin-top: -20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .infinite-scroll-preloader .preloader {
        width: 34px;
        height: 34px;
    }
}
