div[data-page=filter-users] {
    ul:before {
        display: none;
    }

    .page {
        overflow: auto;
    }

    .page-content {
        width: 100%;
        @include desktop-view {
            padding-top: 0;
            margin-top: 104px;
            background: white;
        }
    }

    .user-box {
        margin-top: 104px;
    }

    .row {
        margin-top: 10px;
        margin-bottom: 20px;

        @include desktop-view {
            margin-bottom: 30px;
        }
    }

    .navbar-inner {
        padding: 0 15px;
        font-size: 15px;

        .center {
            width: 100%;
            text-align: center;
        }
    }

    .range-slider input[type=range] {
        height: 40px;
    }

    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    }

    .filter-users-wrapper {
        padding: 20px;
    }

    .range-slider {
        input {
            cursor: pointer;
        }
    }

    .filter-users-wrapper > .row:not(:first-child) {
        margin-top: 20px;
    }

    .title {
        font-size: 17px;
        font-weight: $font-normal;
        text-align: left;
        padding: 8px 0;
        color: #019fe8;
    }

    .interests {
        .custom-chip {
            margin: 10px 15px 10px 0;
            background: white;
            border: 1px solid #2196f3;
            white-space: normal;
            color: #2196f3;
            font-weight: bold;
            cursor: pointer;

            &.bg-blue,
            &:hover {
                background: #2196f3;
                color: white;
            }

            &.bg-blue .chip-media, &:hover .chip-media {
                color: white;
            }

            .chip-media {
                color: #2196f3;
            }
        }
    }

    .location {
        input[name='country'] {
            font-size: 15px;
            text-align: center;
            padding: 8px 0;
            width: 100%;
        }
    }

    .language {
        input[name='language'] {
            font-size: 15px;
            text-align: center;
            padding: 8px 0;
            width: 100%;
        }

        .language-selected-proficiency {
            padding: 2px 5%;
            margin: 2px 5px;
        }

        .proficiency-text {
            width: 100%;
            font-size: 12px;
            font-weight: $font-normal;
            text-align: center;
        }

        .proficiency-slider {
            width: 100%;

            > .range-slider {
                top: 1px;
            }

            > .range-slider > input {
                background-size: 100% 4px;
            }

            > .range-slider > input::-webkit-slider-thumb {
                height: 15px;
                width: 15px;
            }
        }
        $prof-el: #f00;
        $prof-el-light: #f66;
        $prof-im: #ffa500;
        $prof-im-light: #ffc04c;
        $prof-ad: #329932;
        $prof-ad-light: #9c9;
        $prof-fl: #00f;
        $prof-fl-light: #8181ff;
        $prof-na: #800080;
        $prof-na-light: #b266b2;

        .proficiency-item.-elementary {
            .proficiency-text {
                color: $prof-el;
            }

            .proficiency-slider .range-slider input::-webkit-slider-thumb {
                background: $prof-el;
            }

            .proficiency-slider .range-slider input::-moz-range-thumb {
                background: $prof-el;
            }

            .proficiency-slider .range-slider input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $prof-el), color-stop(0, $prof-el-light));
            }
        }

        .proficiency-item.-intermediate {
            .proficiency-text {
                color: $prof-im;
            }

            .proficiency-slider .range-slider input::-webkit-slider-thumb {
                background: $prof-im;
            }

            .proficiency-slider .range-slider input::-moz-range-thumb {
                background: $prof-im;
            }

            .proficiency-slider .range-slider input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0.25, $prof-im), color-stop(0.25, $prof-im-light));
            }
        }

        .proficiency-item.-advanced {
            .proficiency-text {
                color: $prof-ad;
            }

            .proficiency-slider .range-slider input::-webkit-slider-thumb {
                background: $prof-ad;
            }

            .proficiency-slider .range-slider input::-moz-range-thumb {
                background: $prof-ad;
            }

            .proficiency-slider .range-slider input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, $prof-ad), color-stop(0.5, $prof-ad-light));
            }
        }

        .proficiency-item.-fluent {
            .proficiency-text {
                color: $prof-fl;
            }

            .proficiency-slider .range-slider input::-webkit-slider-thumb {
                background: $prof-fl;
            }

            .proficiency-slider .range-slider input::-moz-range-thumb {
                background: $prof-fl;
            }

            .proficiency-slider .range-slider input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0.75, $prof-fl), color-stop(0.75, $prof-fl-light));
            }
        }

        .proficiency-item.-native {
            .proficiency-text {
                color: $prof-na;
            }

            .proficiency-slider .range-slider input::-webkit-slider-thumb {
                background: $prof-na;
            }

            .proficiency-slider .range-slider input::-moz-range-thumb {
                background: $prof-na;
            }

            .proficiency-slider .range-slider input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(1, $prof-na), color-stop(1, $prof-na-light));
            }
        }
    }
}
