div[data-page=interests] {
    ul:before {
        display: none;
    }

    .page-content {
        @include desktop-view {
            max-width: 700px;
            margin: 0 auto;
            background: white;
            margin-top: 104px;
        }
    }

    // navbar styles
    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);

        .center {
            width: 100%;
            text-align: center;

            .fa {
                font-size: 14px;
            }
        }
    }

    // page content styles
    .page-content {
        h2 {
            text-align: center;
            color: #45d0d3;
        }

        p {
            color: #555;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;

            @include desktop-view {
                text-align: center;
            }
        }
    }

    .custom-chip {
        margin: 10px 15px 10px 0;
        background: white;
        border: 1px solid #2196f3;
        white-space: normal;
        color: #2196f3;
        font-weight: bold;
        cursor: pointer;

        &.bg-blue,
        &:hover {
            background: #2196f3;
            color: white;

            .chip-media {
                color: white;
            }
        }

        .chip-media {
            color: #2196f3;
        }
    }

    .apply-button-row {
        margin-bottom: 20px;
    }

    .show-more-button {
        font-size: 16px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .button.button-fill.color-pink {
        background: #fff !important;
        color: #e91e63;
        border: 1px solid #e91e63;

        &:hover {
            background: #e91e63 !important;
            color: #fff;
        }
    }

    .more-interests-form {
        width: 30%;
        margin-right: 30%;
        margin-left: 34%;
    }

    .not-find-text {
        font-size: 10px;
    }

    .error-message {
        list-style: none;
    }

    .error-message__register {
        padding: 5px 10px;
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .content-block-title.centered--title {
        font-size: 16px;
        font-weight: $font-bold;
        letter-spacing: 1px;
        text-align: center;
    }

    .interest-search {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 2px;
    }

    .interest-search--input {
        padding: 10px 0;
        font-size: 15px;
        font-weight: $font-medium;
        text-align: center;
        width: 92%;
        border: none;
    }

    .interest-search--close {
        color: #7a7a7a;
    }

    .search-dropdown {
        padding: 2px 10px 7px 10px;
        box-shadow: 0 0 15px #ccc;
    }

    .search-dropdown__items {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
    }

    .search-dropdown-close__buttons {
        margin-top: 15px;
    }

    .search-dropdown-error--search {
        font-size: 16px;
        font-weight: $font-medium;
        text-align: center;
        color: #019fe8;
        display: none;
    }
}
