div[data-page=intro] {
    .desktop-logo {
        display: none;

        @include desktop-view {
            display: block;
        }
    }

    .page-content {
        padding-top: 0 !important;
        @include desktop-view {
            width: 700px;
            margin: 40px auto 0;
            border-radius: 6px;
            height: calc(100% - 30px - 40px);
        }
    }

    .swiper-slide .swiper-slide-active {
        @include desktop-view {
            width: 700px;
        }
    }

    .swiper-container {
        height: 100%;

        .swiper-button-next {
            height: 100%;
            background-size: 60% 60%;
        }
    }

    .swiper-slide {
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        text-align: center;

        img {
            max-width: 100%;
        }

        span {
            display: block;
            width: 100%;
            padding: 0 20%;
            text-align: center;
            font-size: 28px;
            color: $color-brand-1;

            @media screen and (max-width: 500px) {
                padding: 0 15%;
                font-size: 24px;
            }
            @media screen and (max-width: 400px) {
                padding: 0 5%;
                font-size: 20px;
            }
        }
    }

    .swiper-pagination {
        width: 50%;
        margin-left: 25%;
    }

    .swiper-button-next {
        > .done {
            display: none;
        }

        &.swiper-button-disabled {
            background-image: none;
            opacity: 1;
            pointer-events: auto;

            & + .intro-button + .done {
                display: block;
            }
        }
    }

    .intro-button {
        position: absolute;
        bottom: 10px;
        font-size: 20px;
        color: $color-brand-1;
        cursor: pointer;
        z-index: 999;

        &.skip {
            left: 20px;
        }

        &.done {
            display: none;
            right: 20px;
        }
    }
}

.touchevents {
    .swiper-button-next.swiper-button-disabled {
        display: block;
    }
}
