div[data-page=invite-friends] {
    .tabbar .tab-link-highlight {
        display: block;
        transform: translate3d(0%, 0, 0);
        height: 6px;
        background: rgba(255, 255, 255, 1);
    }

    .navbar {
        @include desktop-view {
            display: none;
        }
    }

    .user-box {
        margin-top: 104px;
    }

    .page-content {
        width: 100%;
    }

    .page {
        overflow: auto;
    }

    .navbar-fixed .toolbar {
        @include desktop-view {
            top: 0;
        }
    }

    .tabs .swiper-wrapper {
        transition-duration: 0ms;
        transform: translate3d(0, 0, 0);
    }

    .tab-1 .tab-2 .tab-3 {
        width: 526px;
    }

    .row .col-60 {
        margin: 0 auto;
    }

    .row .col-70 {
        font-weight: $font-bold;
        font-size: 16px;
    }

    .row .col-100 {
        color: #555;
        text-align: center;
        font-weight: $font-normal;
        font-size: 24px;
    }

    .buttons-row .button:first-child {
        @media screen and (min-width: 701px) {
            margin-left: 0;
            margin-top: 8px;
        }
    }

    .list-block {
        @include desktop-view {
            margin: 0;
        }
    }

    .page-content,
    .tab {
        @include desktop-view {
            padding-top: 0;
        }
    }

    .navbar-fixed.toolbar-fixed .page-content {
        @include desktop-view {
            padding-top: 0;
        }
    }

    .social-buttons {
        margin: 40px 0;

        @include desktop-view {
            margin: 70px 0;
        }
        @media screen and (max-width: 700px) {
            margin: 0 0;
        }

        .button {
            font-size: 16px;
            font-weight: $font-medium;
            letter-spacing: 1px;
        }

        .button.button-fill.color-fb-blue {
            background-color: #3b5998;
        }

        .button.button-fill.color-fb-blue:hover {
            background-color: #2f4779;
        }

        .button.button-fill.color-google-red {
            background-color: #f44336;
        }

        .button.button-fill.color-google-red:hover {
            background-color: #db3c30;
        }
    }

    .tabs .buttons-row {
        @include desktop-view {
            position: relative;
            top: -105px;
        }
    }

    .content-block {
        margin: 80px 0 0;

        @include desktop-view {
            margin: 0;
        }
    }

    .connect-google,
    .connect-facebook {
        display: none;
        margin: 30% auto;
        transform: translateY(-50%);
        height: auto;
    }

    .invite-google,
    .invite-facebook {
        width: 100%;
        margin: 0 auto;
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;
        top: 115px;

        .buttons-row {
            display: block;
            width: 90%;
            margin: auto;
        }
    }

    .desktop-back {
        display: none;

        @include desktop-view {
            display: block;
            position: relative;
            top: -35px;
            left: 150px;
            width: 30px;
        }
    }

    .desktop-swiper {
        width: 100%;
        @include desktop-view {
            background: white;
            margin-top: 104px;
            border-radius: 6px;
            padding-bottom: 40px;
            height: 700px;
        }
    }

    .contact {
        &__checkbox {
            float: right;
        }

        .item-media {
            padding-bottom: 10px;
            padding-top: 10px;

            img {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }
        }

        &__media {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0;
                width: 72px;
                border-bottom: 1px solid #eee;
            }
        }

        .item-inner {
            padding-top: 5px;
            padding-bottom: 0;
        }

        &__name {
            top: 15px;
            color: #6d6d6d;
            font-family: $font-primary;
            font-size: $font-size-base;
            text-overflow: ellipsis;
        }

        label.label-checkbox i.icon-form-checkbox {
            border-color: #019fe8;
            border-radius: 50%;
            height: 23px;
            width: 23px;
        }

        label.label-checkbox i.icon-form-checkbox:after {
            padding: 11px;
        }
    }
}
