div[data-page='language-selection'] {
    ul:before {
        display: none;
    }

    .page-content {
        @include desktop-view {
            max-width: 700px;
            margin: 0 auto;
            background: white;
            margin-top: 104px;
        }
    }

    .navbar-inner {
        padding: 0 15px;

        .fa {
            color: #fff;
        }

        .center {
            width: 100%;
            text-align: center;

            .fa {
                font-size: 15px;
            }
        }
    }

    .fa-close:before {
        cursor: pointer;
    }

    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    }

    .range-slider input[type=range] {
        height: 40px;
        cursor: pointer;
    }

    .content-block-title {
        overflow: visible;
        color: #999;
        white-space: normal;
    }

    .content-block-title.-centered-title {
        font-size: 16px;
        font-weight: $font-normal;
        letter-spacing: 1px;
        text-align: center;
    }

    .language-name {
        text-align: right;
        //overflow-x: scroll;
        white-space: nowrap;
        line-height: 32px;
    }

    .language-flag {
        max-width: 2.5rem;
        padding-top: 100%;
        border: 1px solid #ccc;
        border-radius: 100%;
        background-size: cover;
        background-position: center center;
    }

    .-whiteborder {
        border: 1px solid #fff;
        border-radius: 100%;
        margin: 2px auto;
    }

    .language-search-wrapper {
        margin-top: 5px;
        margin-bottom: 17px;

        .language-search {
            width: 100%;
            border: 2px solid #ccc;
            border-radius: 2px;

            > input[type='text'] {
                padding: 10px 0;
                font-size: 15px;
                font-weight: $font-light;
                text-align: center;
                width: 92%;
                border: none;
            }

            > .fa-close {
                color: #7a7a7a;
            }
        }
    }

    .language-search-dropdown {
        padding: 2px 10px 7px 10px;
        box-shadow: 0 0 15px #ccc;

        > .row {
            width: 100%;

            > .col-50 {
                margin-top: 5px;
                cursor: pointer;
            }

            .col-50 > .row {
                padding: 4px 0;
                height: 37px;
            }

            .col-50 > .row > .col-20 {
                height: 100%;
                max-width: 1.8rem;
            }
        }

        .dropdown-items {
            cursor: pointer;
            max-height: 200px;
            overflow-y: scroll;
        }

        .dropdown-btns {
            margin-top: 15px;
        }

        .error-search {
            font-size: 16px;
            font-weight: $font-normal;
            text-align: center;
            color: #019fe8;
            display: none;
        }

        .language-flag {
            margin: 0 auto;
        }

        .language-name {
            font-size: 17px;
            font-weight: $font-normal;
            color: #019fe8;
            line-height: 35px;
        }
    }

    .language-search-dropdown-item.isSelected {
        border-radius: 30px;
        background: #019fe8;

        .language-flag {
            border: 1px solid #fff;
            border-radius: 100%;
        }

        .language-name {
            color: #fff;
        }
    }

    .language-selection-wrapper {
        margin-bottom: 300px;
    }

    .language-selected-name {
        cursor: pointer;
        font-size: 16px;
        font-weight: $font-normal;
        padding: 2px 5px 10px 5%;
        margin: 5px 0;
        border-radius: 30px;
        color: #fff;
        background: #019fe8;
        height: 35px;

        .deselect-btn {
            line-height: 34px;
        }

        > .row > .col-30 {
            height: 100%;
            max-width: 1.8rem;
        }

        .language-flag {
            margin: 2px auto;
        }
    }

    .language-selected-proficiency {
        padding: 2px 5%;
        margin: 2px 5px;
    }

    .proficiency-text {
        width: 100%;
        font-size: 12px;
        font-weight: $font-normal;
        text-align: center;
    }

    .proficiency-slider {
        width: 100%;

        > .range-slider {
            top: 1px;

            > input {
                background-size: 100% 4px;
            }

            > input::-webkit-slider-thumb {
                height: 15px;
                width: 15px;
            }
        }
    }
    $prof-el: #f00;
    $prof-el-light: #f66;
    $prof-im: #ffa500;
    $prof-im-light: #ffc04c;
    $prof-ad: #329932;
    $prof-ad-light: #9c9;
    $prof-fl: #00f;
    $prof-fl-light: #8181ff;
    $prof-na: #800080;
    $prof-na-light: #b266b2;

    .proficiency-item.-elementary {
        .proficiency-text {
            color: $prof-el;
        }

        .proficiency-slider .range-slider {
            input::-webkit-slider-thumb {
                background: $prof-el;
            }

            input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $prof-el), color-stop(0, $prof-el-light));
            }
        }
    }

    .proficiency-item.-intermediate {
        .proficiency-text {
            color: $prof-im;
        }

        .proficiency-slider .range-slider {
            input::-webkit-slider-thumb {
                background: $prof-im;
            }

            input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0.25, $prof-im), color-stop(0.25, $prof-im-light));
            }
        }
    }

    .proficiency-item.-advanced {
        .proficiency-text {
            color: $prof-ad;
        }

        .proficiency-slider .range-slider {
            input::-webkit-slider-thumb {
                background: $prof-ad;
            }

            input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, $prof-ad), color-stop(0.5, $prof-ad-light));
            }
        }
    }

    .proficiency-item.-fluent {
        .proficiency-text {
            color: $prof-fl;
        }

        .proficiency-slider .range-slider {
            input::-webkit-slider-thumb {
                background: $prof-fl;
            }

            input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0.75, $prof-fl), color-stop(0.75, $prof-fl-light));
            }
        }
    }

    .proficiency-item.-native {
        .proficiency-text {
            color: $prof-na;
        }

        .proficiency-slider .range-slider {
            input::-webkit-slider-thumb {
                background: $prof-na;
            }

            input {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(1, $prof-na), color-stop(1, $prof-na-light));
            }
        }
    }
}
