div[data-page='login'] {
    .login-page .social-buttons {
        margin-bottom: 40px;

        > .row {
            margin: 15px 0;
        }

        .button {
            font-size: 16px;
            font-weight: $font-medium;
            letter-spacing: 1px;
        }

        .button.button-fill.color-fb-blue {
            background-color: #3b5998 !important;
        }

        .button.button-fill.color-fb-blue:hover {
            background-color: #2f4779 !important;
        }

        .button.button-fill.color-google-red {
            background-color: #f44336 !important;
        }

        .button.button-fill.color-google-red:hover {
            background-color: #db3c30 !important;
        }
    }

    .login-page .tabs-animated-wrap {
        height: auto;
    }

    .login-page {
        @include desktop-view {
            width: 700px;
            margin: 0 auto;
            background: white;
            border-radius: 6px;
            margin-top: 104px;
            padding-top: 40px;
        }
    }

    .page-content {
        @include desktop-view {
            padding-top: 0;
        }
    }

    .navbar-fixed.toolbar-fixed .page-content {
        @include desktop-view {
            padding-top: 0;
        }
    }

    .fa-eye,
    .fa-eye-slash {
        display: inline;
        float: right;
        position: relative;
        top: 23px;
        right: 20px;
        color: #45d0d3;
        z-index: 4;
        padding: 4px;
        text-align: center;
        border-radius: 50%;
        line-height: 0;
        cursor: pointer;
    }

    .separator {
        margin: 50px 0 40px 0;

        .col-20 {
            height: 24px;
            padding-top: 3px;

            hr {
                height: 1px;
                color: #666;
                background-color: #666;
                border: none;
            }
        }

        .col-10 {
            text-align: center;
            font-weight: $font-light;
            font-size: 16px;
            color: #666;
        }
    }

    .tabs-swipeable-wrap {
        height: auto;
    }

    form {
        .error-login,
        .error-reg {
            padding: 5px 10px;
            color: #b94a48;
            background-color: #f2dede;
            border-color: #eed3d7;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }

    .login-page .buttons-row {
        margin: 0 30px;
    }

    .login-page .tab-link {
        font-weight: $font-medium;
        font-size: 16px;
    }

    .login-page .tab-link.active {
        border-bottom: solid #2196f3;
    }

    .list-block ul:before {
        background-color: transparent;
    }

    .forgot-pass {
        text-align: center;
        font-weight: $font-medium;
        color: #666;
        margin-top: 10px;
        cursor: pointer;
    }

    .login-button-row {
        margin-top: 20px;
    }

    .login-btn {
        font-size: 16px;
        margin-top: 10px;
        font-weight: $font-medium;
        letter-spacing: 1px;
    }

    .login-panel .tabs-swipeable-wrap {
        height: auto;
    }

    form {
        .error-login,
        .error-reg {
            padding: 5px 10px;
            color: #b94a48;
            background-color: #f2dede;
            border-color: #eed3d7;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}
