div[data-page='my-profile'], div[data-page='user-profile'] {
    .tabbar .tab-link-highlight {
        transform: translate3d(203%, 0, 0);
    }
}

div[data-page='my-profile'] {
    .my-profile {
        width: 100%;

        @include desktop-view {
            background: white;
            border-radius: 6px;
            height: 100%;
            position: relative;
            padding-bottom: 20px;
        }
    }

    .navbar {
        @include desktop-view {
            display: none;
        }
    }

    .total-unread-messages {
        .unread-messages {
            position: absolute;
            right: 15px;
            top: 18px;
            height: 25px;
            font-size: 1.14286rem;
            font-weight: bold;
            text-align: center;
        }
    }

    .navbar-fixed.toolbar-fixed .my-profile {
        padding-top: 0;
    }

    .toolbar {
        height: 56px;
    }

    .navbar-fixed .toolbar {
        top: 48px;

        @include desktop-view {
            top: 0;
        }
    }

    .banner-image {
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include desktop-view {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
        }

        &__edit {
            position: absolute;
            right: 18%;
            top: 293px;
            cursor: pointer;

            @include desktop-view {
                top: 190px;
            }

            .fa {
                color: #45d0d3;
                background: white;
                border-radius: 50%;
                padding: 4px;
                text-align: center;
            }

            &:after {
                content: '';
                position: absolute;
                top: -10px;
                bottom: -10px;
                left: -10px;
                right: -10px;
            }
        }
    }

    .profile {
        margin-top: -55px;

        &__avatar {
            text-align: center;
            width: 120px;
            height: 120px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                border: 5px solid #fff;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &__flag {
            text-align: center;
            margin-top: -18px;
            padding-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            width: 32px;
            height: 34px;
            border-radius: 13px;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                border: 2px solid #fff;
                border-radius: 3px;
            }
        }

        &__edit {
            position: absolute;
            right: 35%;
            top: 309px;

            @include desktop-view {
                top: 220px;
            }

            @media screen and (max-width: 480px) {
                right: 23%;
            }

            .fa {
                color: #45d0d3;
                padding: 10px 20px;
            }
        }
    }

    .proficiency--elementary {
        color: #ff6300;
    }

    .proficiency--intermediate {
        color: #fcca0b;
    }

    .proficiency--advanced {
        color: #5eb546;
    }

    .proficiency--fluent {
        color: #0096e8;
    }

    .proficiency--native {
        color: #0079bc;
    }

    .fixed-text {
        text-align: center;
        font-size: $font-size-base;
        font-weight: $font-normal;
        line-height: 30%;

        &__user-name {
            font-weight: $font-normal;
            text-transform: uppercase;
            font-size: $font-size-base;
            color: #555;
            margin: 0;
        }

        &__tagline {
            font-size: 12px;
            color: #87a1b7;
        }

        &__about {
            line-height: 160%;
            color: #555;
            margin-bottom: 0;
        }

        &__edit {
            position: absolute;
            margin-top: 10px;
            right: 0;

            .fa {
                color: #45d0d3;
                padding: 10px 20px;
            }
        }
    }

    .languages {
        &__wrapper {
            text-align: center;
            max-width: 100%;
            margin: 60px auto;
        }

        .language-container {
            display: inline-block;
            vertical-align: middle;
            width: 46%;
            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }

        .arrow {
            width: 5%;
        }

        &__column {
            display: inline-block;
            margin: 10px 10px;
        }

        .language-title {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5px;
            font-weight: $font-light;
        }

        .fa-chevron-right {
            margin-top: 25px;
            @media screen and (max-width: 700px) {
                display: none;
            }
        }

        &__edit {
            position: absolute;
            margin-top: 5px;
            right: 0;

            .fa {
                color: #45d0d3;
                padding: 10px 20px;
            }
        }

        &__flag-container {
            text-align: center;
            margin: 0 auto;
            position: relative;
            backface-visibility: hidden;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid transparent;
                object-fit: cover;
            }

            .charts-container {
                width: 31px;
                height: 31px;
                top: 0;
                left: 50%;
                margin-left: -15.5px;
                position: absolute;
            }
        }
    }

    div.content-block.languages {
        padding: 0;
    }

    .name-lang,
    .proficiency-name {
        font-size: 11px;
        position: relative;
        margin: 0 auto;
        margin-top: 2px;
        text-transform: capitalize;
        font-weight: $font-light;
    }

    .name-lang {
        font-weight: $font-medium;
        color: #555;
    }

    .language-item {
        margin: 0 auto;
    }

    .interests {
        padding: 0;

        &__title {
            text-align: center;
            font-weight: $font-light;
            color: #999;
            font-size: $font-size-base;
            margin: 0;
        }

        &__edit {
            position: absolute;
            right: 0;

            .fa {
                color: #45d0d3;
                padding: 10px 20px;
            }
        }

        &__chips {
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 5px;

            .custom-chip {
                margin: 10px 15px 10px 0;
                background: white;
                border: 1px solid #2196f3;
                white-space: normal;
                color: #2196f3;
                font-weight: bold;
                cursor: pointer;
            }

            .custom-chip.bg-blue, .custom-chip:hover {
                background: #2196f3;
                color: white;
            }
        }
    }

    .about {
        padding: 0;

        &__edit {
            position: absolute;
            right: 0;

            .fa {
                color: #45d0d3;
                padding: 10px 20px;
            }
        }

        &__title {
            margin-top: 0;
            margin-bottom: 5px;
            text-align: center;
            font-weight: $font-light;
            color: #999;
            font-size: $font-size-base;
        }

        &__me {
            text-align: center;
            font-family: $font-primary;
            font-size: $font-size-base;
            font-weight: $font-normal;
            margin: 0 10% 20px 8%;
            color: #555;
        }
    }

    .profile-image-popup,
    .cover-image-popup,
    .about-me-popup,
    .tagline-popup {
        @media screen and (max-width: 630px) {
            width: 80%;
            height: auto;
            margin: auto;
            left: 0;
            right: 0;
            top: 10%;
        }

        .about-save.is-not-active {
            color: #d9f1fc;
            pointer-events: none;
        }
    }

    .profile-image-popup:not(.tablet-fullscreen),
    .cover-image-popup:not(.tablet-fullscreen),
    .about-me-popup:not(.tablet-fullscreen),
    .tagline-popup:not(.tablet-fullscreen) {
        @media (min-height: 630px) and (min-width: 630px) {
            width: 50%;
            height: auto;
            margin: auto;
            left: 0;
            right: 0;
            top: 15%;
        }
    }

    .profile-image-popup {
        &__title {
            text-align: center;
            color: #019fe8;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: $font-normal;
            padding-bottom: 30px;
        }

        &__upload {
            width: 40%;
            margin: 0 auto;
        }

        &__close {
            color: #019fe8;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            display: block;
            font-weight: $font-bold;
        }

        .cancel {
            display: inline;
            margin-right: 20px;
        }

        .delete {
            display: inline;
        }

        .buttons {
            width: 100%;
            text-align: center;
        }

        .dropzone-previews {
            text-align: center;
        }
    }

    .cover-image-popup {
        &__title {
            text-align: center;
            color: #019fe8;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: $font-normal;
            padding-bottom: 30px;
        }

        &__upload {
            width: 40%;
            margin: 0 auto;
        }

        &__close {
            color: #019fe8;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            display: block;
            font-weight: $font-bold;
        }

        .cancel {
            display: inline;
            margin-right: 20px;
        }

        .delete {
            display: inline;
        }

        .buttons {
            width: 100%;
            text-align: center;
        }

        .dropzone-previews {
            text-align: center;
        }
    }

    .about-me-popup,
    .tagline-popup {
        &__title {
            text-align: center;
            color: #019fe8;
            text-transform: uppercase;
            font-size: 16px;
        }

        &__close {
            color: #019fe8;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            display: block;
            font-weight: $font-bold;
        }

        &__save {
            width: 40%;
            margin: 0 auto;
        }

        textarea {
            border: 1px solid #e5e5e5;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;
            color: #555;
            font-weight: $font-light;
        }

        .list-block .item-inner:after {
            background: transparent;
        }
    }
}
