div[data-page=my-settings] {
    .form-content {
        margin-top: 0;
    }

    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    }

    .navbar-fixed.toolbar-fixed .page-content.my-settings {
        padding-top: 56px;

        @include desktop-view {
            padding-top: 0;
        }
    }

    .my-settings {
        width: 100%;
        @include desktop-view {
            background: white;
            padding-top: 0;
            margin-top: 104px;
            border-radius: 6px;
        }
    }

    .form-list .email-item__media,
    .form-list .password-item__media {
        min-width: 120px;

        @media screen and (max-width: 480px) {
            min-width: 80px;
            font-size: 12px;
        }
    }

    .user-box {
        margin-top: 104px;
    }

    .edit-form {
        float: right;
        position: relative;
        top: 15px;
        color: #45d0d3;
        z-index: 4;
        background: white;
        padding: 4px;
        width: 12px;
        text-align: center;
        display: inline;
        border-radius: 50%;
        line-height: 0;

        @include desktop-view {
            top: 25px;
        }
    }

    .fa-eye,
    .fa-eye-slash {
        float: right;
        position: relative;
        top: 23px;
        right: 20px;
        color: #45d0d3;
        z-index: 4;
        padding: 4px;
        width: 12px;
        text-align: center;
        display: inline;
        border-radius: 50%;
        line-height: 0;
        cursor: pointer;

        @include desktop-view {
            top: 33px;
        }
    }

    .email-item {
        &__media {
            color: #555;
            font-weight: $font-normal;
            min-width: 120px;
        }

        p {
            font-weight: $font-light;
            margin-bottom: 8px;
            font-size: 14px;

            @include desktop-view {
                font-size: 16px;
            }
        }
    }

    .save {
        width: 30%;
        display: block;
        text-align: center;
        height: auto;
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 30px;
        font-weight: $font-bold;
    }

    .password-item {
        &__media {
            color: #555;
            font-weight: $font-normal;
            min-width: 120px;
        }
    }

    .account {
        &__logout {
            width: 30%;
            display: block;
            text-align: center;
            height: auto;
            margin: 20% auto 0 auto;
        }

        &__delete {
            width: 100%;
            text-align: center;
            display: block;
            text-decoration: underline;
            color: #e91e63;
        }

        &__warning {
            text-align: center;
            font-weight: $font-light;
            margin-top: 0;
        }
    }

    .list-block .item-content input {
        color: #626263;
        @media screen and (max-width: 480px) {
            font-size: 12px;
        }
    }

    .info {
        &__icon {
            float: right;
            position: relative;
            top: 25px;
            color: #45d0d3;
            z-index: 4;
            background: white;
            padding: 4px;
            width: 12px;
            text-align: center;
            display: inline;
            border-radius: 50%;
            line-height: 0;
        }

        a p {
            display: none;
            position: absolute;
            top: 40px;
            left: 50%;
            width: 250px;
            font-size: 12px;
            color: #019fe8;
            background: white;
            @media screen and (max-width: 700px) {
                left: -40px;
                width: 300px;
            }
        }

        a:hover p {
            display: block;
        }

        a:hover {
            display: block;
        }
    }
}
