div[data-page=partners] {
    .navbar {
        @include desktop-view {
            display: none;
        }
    }

    .total-unread-messages {
        .unread-messages {
            position: absolute;
            right: 15px;
            top: 18px;
            height: 25px;
            font-size: 1.14286rem;
            font-weight: bold;
            text-align: center;
        }
    }

    .desktop-filter {
        display: none;

        @include desktop-view {
            display: block;
            position: relative;
            top: -40px;
            width: 30px;
            height: 30px;
            padding: 0 16px;
            float: right;
            right: 15%;
        }
    }

    .tabbar .tab-link-highlight {
        transform: translate3d(100%, 0, 0);
    }

    .navbar-fixed .page-content {
        padding-top: 104px;
    }

    .toolbar {
        height: 56px;
    }

    .navbar-fixed .toolbar {
        top: 48px;

        @include desktop-view {
            top: 0;
        }
    }

    .users-page {
        padding: 0;
        margin-top: 0;
        width: 100%;

        @include desktop-view {
            padding-bottom: 40px;
        }

        .list-block.media-list .item-inner {
            @media screen and (min-width: 701px) {
                padding-top: 0;
                padding-bottom: 14px;
            }
            @media screen and (max-width: 700px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .users-list {
        margin: 0 0;

        &__clone-item {
            display: none;

            &.-check-height {
                opacity: 0;
                display: block;
            }
        }

        ul > li:nth-child(2n) {
            background: $light-gray;
        }

        @include desktop-view {
            background: white;
            border-radius: 6px;
        }
    }

    .list-block .item-text {
        color: $color-font-base-light;
    }

    .list-block .item-after {
        color: $color-font-base-light;
    }

    .user-item {
        cursor: pointer;

        &__flag {
            text-align: center;
            width: 32px;
            height: 34px;
            border-radius: 13px;
            overflow: hidden;
            left: 10px;
            top: 60px;
            position: absolute;
        }

        .item-inner {
            @media screen and (max-width: 700px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            @media screen and (min-width: 701px) {
                padding-top: 0;
                padding-bottom: 14px;
            }
        }

        .item-title-row {
            @media screen and (min-width: 701px) {
                padding-top: 10px;
            }
        }

        .item-media {
            @media screen and (max-width: 700px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &__avatar {
            text-align: center;
            width: 70px;
            height: 70px;
            margin: 0 auto;
            border-radius: 50%;
            object-fit: cover;

            img {
                height: auto;
            }
        }

        &__name {
            font-family: $font-primary;
            font-size: $font-size-base;
            font-weight: $font-normal;
            text-transform: capitalize;
            color: $color-font-base;
            margin: 0;
        }

        .fa-long-arrow-right {
            position: relative;
            top: -4px;
            margin-right: 4px;
        }

        &__languages {
            padding-left: 2px;

            .-elementary,
            .-intermediate,
            .-advanced,
            .-fluent,
            .-native {
                //float: left;
                display: inline-block;
                padding-right: 10px;
            }
        }

        &__interests {
            margin: 0;
            text-transform: lowercase;
            @media screen {
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 90%;
            }
        }
    }

    .online-circle, .offline-circle {
        margin-left: 5px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid transparent;
        padding: 3px 3px;
    }

    .online-circle {
        background: $color-online-button;
    }

    .offline-circle {
        background: $color-offline-button;
    }

    .language-flag-container {
        text-align: center;
        width: 28px;
        height: 28px;
        margin: 0 auto;
        border-radius: 50%;

        img {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .button.button-fill.color-blue {
        background: $color-brand-1 !important;
    }

    /* Language Progress Bar */
    .set-size {
        font-size: 22px;
    }

    .pie-wrapper {
        height: 1em;
        width: 1em;
        top: 20px;
        left: -2px;
        margin-top: -15px;
        position: relative;
    }

    .filter-error-msg {
        text-align: center;
        font-size: 17px;
        font-weight: $font-medium;
        color: $color-font-base;
        width: 100%;
        padding: 30px 0 60px 0;

        .row {
            padding-top: 30px;
        }
    }

    /* Infinite Scroll Preloader */

    .infinite-scroll-preloader {
        margin-top: -20px;
        margin-bottom: 40px;
        text-align: center;
    }

    .infinite-scroll-preloader .preloader {
        width: 34px;
        height: 34px;
    }
}
