div[data-page='profile-filling'] {
    ul:before {
        display: none;
    }

    .desktop-logo {
        display: none;

        @include desktop-view {
            display: block;
        }
    }

    .page-content {
        @include desktop-view {
            max-width: 700px;
            margin: 0 auto;
            background: white;
            margin-top: 104px;
        }
    }

    .navbar-inner {
        padding: 0 15px;

        .fa {
            color: #fff;
        }

        .center {
            width: 100%;
            text-align: center;

            .fa {
                font-size: 15px;
            }
        }
    }

    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    }

    .profile-filling-wrapper {
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        &__avatar {
            cursor: pointer;
        }
    }

    .profile-filling-wrapper .row {
        .title {
            font-size: 15px;
            font-weight: $font-bold;
            padding: 20px 0 0 0;
            color: #019fe8;
        }
    }

    .row.picture {
        input {
            display: none;
        }

        .col-50 {
            text-align: center;
            width: 120px;
            height: 120px;
            margin: 0 auto;

            img {
                cursor: pointer;
                width: 100%;
                height: 100%;
                border: 5px solid #fff;
                object-fit: cover;
            }
        }

        .avatar {
            border-radius: 50%;
        }
    }

    .row.name, .row.age, .row.country {
        //margin-top: 40px;

        input {
            font-size: 15px;
            padding: 8px 0;
            width: 100%;
            border: 2px solid #2196f3;
        }
    }

    .row.name {
        input {
            border: 2px solid #2196f3;
        }
    }

    .row.gender {
        margin-top: 40px;

        .button.button-fill {
            background: #fff !important;
            color: #019fe8;
            border: 1px solid #019fe8;
        }

        .button.button-fill.color-red {
            background: #019fe8 !important;
            color: #fff;
        }

        .button {
            border-radius: 5px;

            @media screen and (max-width: 700px) {
                font-size: 12px;
            }
        }
    }

    .autocomplete-dropdown.autocomplete-dropdown-in {
        margin-left: 37px;
        @include desktop-view {
            margin-top: -103px;
        }
    }
}
