div[data-page=user-profile] {
    .page-content.user-profile {
        padding-top: 0;
        width: 100%;

        @include desktop-view {
            padding-bottom: 0;
            border-radius: 6px;
        }
    }

    .page {
        overflow: auto;
    }

    .user-box {
        margin-top: 104px;
    }

    .page-content {
        @include desktop-view {
            background: white;
            margin-top: 104px;
        }
    }

    .banner-image {
        height: 200px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    .navbar {
        background: transparent;

        @include desktop-view {
            background: $color-brand-1;
        }
    }

    .isActive .dropdowns {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
        transition-duration: 250ms, 250ms;
        transition-timing-function: ease-out, ease-out;
    }

    .button.button-big {
        font-size: 18px;
    }

    .navbar i.icon {
        display: inline-block;
    }

    .block-button.is-disabled {
        color: $color-disabled-link;
        pointer-events: none;
    }

    .dropdowns {
        background-color: white;
        height: auto;
        width: 160px;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        z-index: 9999;
        box-sizing: border-box;
        top: 0;
        right: 0;
        box-shadow: 0 3px 15px -3px $color-box-shadow;
        opacity: 0;
        transform: scale(0) translate3d(0, 0, 0);
        transition: opacity 150ms ease-in, transform 150ms ease-in;
        transform-origin: right 0;

        a {
            color: $color-brand-1;
            display: block;
            line-height: 1;
            padding: 10px;
            font-size: 16px;

            &:hover {
                color: white;
                background: $color-brand-1;
            }
        }
    }

    .header {
        z-index: 9999;

        &__options {
            float: right;
            position: relative;
        }

        .isActive .dropdown {
            opacity: 1;
            transform: scale(1) translate3d(0, 0, 0);
            transition-duration: 250ms, 250ms;
            transition-timing-function: ease-out, ease-out;
        }

        &__bars {
            color: white;
            padding: 0 16px;
            text-align: center;
        }

        .dropdown {
            background-color: white;
            height: 170px;
            width: 140px;
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            z-index: 9999;
            box-sizing: border-box;
            top: 0;
            right: 0;
            box-shadow: 0 3px 15px -3px $color-box-shadow;
            opacity: 0;
            transform: scale(0) translate3d(0, 0, 0);
            transition: opacity 150ms ease-in, transform 150ms ease-in;
            transform-origin: right 0;

            a {
                color: $color-brand-1;
                display: block;
                line-height: 1;
                padding: 10px;
            }
        }
    }

    .profile-user {
        margin-top: -55px;

        &__avatar {
            text-align: center;
            width: 120px;
            height: 120px;
            margin-left: auto;
            margin-right: auto;

            img {
                width: 100%;
                height: 100%;
                border: 5px solid white;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &__flag {
            text-align: center;
            margin-top: -18px;
            padding-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            width: 32px;
            height: 34px;
            border-radius: 13px;
            overflow: hidden;
        }
    }

    .user-fixed-text {
        text-align: center;
        font-size: $font-size-base;
        font-weight: $font-normal;
        line-height: 30%;
        margin-top: 20px;

        &__user-name {
            font-weight: $font-normal;
            text-transform: uppercase;
            font-size: $font-size-base;
            color: $color-font-base;
            margin: 0;
        }

        &__tagline {
            font-size: 12px;
            color: $color-font-base-light;
        }

        &__about {
            line-height: 160%;
            color: $color-font-base;
            margin-bottom: 0;
        }
    }

    .languages {
        &__wrapper {
            text-align: center;
            max-width: 100%;
            margin: 60px auto;
        }

        .language-container {
            display: inline-block;
            vertical-align: middle;
            width: 46%;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }

        .arrow {
            width: 5%;
        }

        &__column {
            display: inline-block;
            margin: 10px 10px;
        }

        .language-title {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
            font-weight: $font-light;
        }

        .fa-chevron-right {
            margin-top: 25px;

            @media screen and (max-width: 700px) {
                display: none;
            }
        }

        &__flag-container {
            text-align: center;
            margin: 0 auto;
            position: relative;
            backface-visibility: hidden;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid transparent;
                object-fit: cover;
            }

            .charts-container {
                width: 31px;
                height: 31px;
                top: 0;
                left: 50%;
                margin-left: -15.5px;
                position: absolute;
            }
        }
    }

    .name-lang,
    .proficiency-name {
        font-size: 11px;
        position: relative;
        margin: 0 auto;
        margin-top: 2px;
        text-transform: capitalize;
        font-weight: $font-light;
    }

    .name-lang {
        font-weight: $font-medium;
        color: $color-font-base;
    }

    div.content-block.languages {
        padding: 0;
    }

    .user-interests {
        &__title {
            text-align: center;
            font-weight: $font-light;
            color: $color-font-base-light;
            font-size: $font-size-base;
            margin: 0;
        }

        &__chips {
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 25px;

            .custom-chip {
                margin: 10px 15px 10px 0;
                background: white;
                border: 1px solid $color-brand-1;
                white-space: normal;
                color: $color-brand-1;
                font-weight: bold;
                cursor: pointer;
            }

            .custom-chip.bg-blue, .custom-chip:hover {
                background: $color-brand-1;
                color: white;
            }
        }
    }

    .user-about {
        &__title {
            margin-top: 0;
            margin-bottom: 25px;
            text-align: center;
            font-weight: $font-light;
            color: $color-font-base-light;
            font-size: $font-size-base;
        }

        &__me {
            text-align: center;
            font-family: $font-primary;
            font-size: $font-size-base;
            font-weight: $font-normal;
            margin: 0 13% 20px 13%;
            color: $color-font-base;
        }
    }

    .chat {
        &-init {
            position: relative;
        }

        &__button {
            width: 100%;
            display: block;
            text-align: center;
            height: auto;
            margin: 0 auto;
            bottom: 0;
            position: absolute;
            font-weight: $font-bold;
            padding: 0 20px 20px;

            @include desktop-view {
                position: static;
            }
        }
    }
}
