div[data-page=who-can-find-me] {
    .who-can-find-me {
        width: 100%;
        @include desktop-view {
            background: white;
            height: 80%;
            margin-top: 104px;
            border-radius: 6px;
        }
    }

    .age {
        color: #555;
        font-size: 16px;

        div .title {
            margin-left: 70px;
        }
    }

    .user-box {
        margin-top: 104px;
    }

    .blocked-users {
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        text-decoration: underline;

        @include desktop-view {
            margin-bottom: 20px;
        }

        .a {
            color: #019fe8;
        }
    }

    .item-title {
        white-space: normal;
    }

    .navbar {
        box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
    }

    .navbar-fixed.toolbar-fixed .page-content.who-can-find-me {
        padding-top: 56px;

        @include desktop-view {
            padding-top: 0;
        }
    }

    .find {
        &__me {
            color: #555;
        }
    }

    .rangeValues {
        color: #999;
    }

    .find label.label-checkbox i.icon-form-checkbox {
        color: #67c5f1;
        border: 2px solid #67c5f1;
        border-radius: 50%;
    }

    .gender {
        &__title {
            color: #555;
        }
    }

    .age {
        &__slider {
            color: #67c5f1;
        }

        &__title {
            color: #555;
            margin-left: 75px;
            font-size: 16px;
            padding-bottom: 10px;
        }
    }

    .learning {
        &__title {
            color: #555;
        }
    }

    .speaking {
        &__title {
            color: #555;
        }
    }

    .country {
        &__title {
            color: #555;
        }
    }

    .page-content {
        @include desktop-view {
            padding-top: 0;
        }
    }
}
