/**** Logo *****/

.main-header .logo {
    font-weight: $font-bold;
}

.navbar__logo {
    background: url('../../images/logo.png') no-repeat 15px center;
    text-indent: -150%;
    overflow: hidden;
    width: 115px;
    padding: 0 15px;
    height: 100%;

    @include retina-img('../../images/logo@2x.png', no-repeat, 85px, 36px, 15px, center);
}
