<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<div data-page="about" class="page navbar-fixed toolbar-fixed">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <div class="left">
                <a href="#" class="link icon-only back">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center title">ABOUT BILINGUA</div>
        </div>
    </div>
    <!-- /End of Top Navbar-->


    <div class="content-blocks content-blocks--main">

        <div class="row no-gutter">

            <div class="tablet-30 user-box">
                <div class="user-box__header">
                    <img src="images/background-profile.jpg">
                </div>

                <div class="user-box__avatar">
                    <img src="images/default-avatar.png" id="user-box-avatar">
                </div>

                <div class="user-box__welcome">
                    <p>Welcome early user!</p>
                </div>

                <div class="user-box__mascot">
                    <img src="images/Shiro-thx.png">
                </div>

                <div class="user-box__shiro">
                    <p>I'm Shiro the tiger, I'll be your companion as you practise languages with Bilingua.</p>
                    <p>I'm building new and exciting features for you and I'll let you know as soon as they're available!</p>
                </div>

                <!--<div class="user-box__badges">-->

                <!--</div>-->

                <!--<div class="user-box__level">-->
                <!--<span id="user-level">Level 5</span></br>-->
                <!--<span id="level-name">Fast-learner!!</span>-->
                <!--</div>-->

                <!--<div class="user-box__points">-->
                <!--<span id="user-points">100pts</span></br>-->
                <!--<span id="weekly-points">(23 pts this week)</span>-->
                <!--</div>-->

                <!--<div class="user-box__notifications">-->
                <!--<h2>Notifications</h2>-->
                <!--<span class="notification">Mike stalked you 3 times</span></br>-->
                <!--<span class="notification">Anna sent you a message</span>-->
                <!--</div>-->

                <div class="user-box__button">
                    <p class="buttons-row share-button">
                        <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                    </p>
                    <p class="buttons-row feedback-button">
                        <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                    </p>
                </div>
            </div>

            <div class="tablet-70 col-100">
                <div class="main-column page-content">
                <div class="content-block">
                    <p>Bilingua is the ultimate language learning companion for users of all backgrounds and levels of fluency.
                        Our app connects you with other users who are fluent in a language you are learning, and makes sure to
                        match you based on similar interests or personalities. Your Bilingua experience is defined by Shiro, our
                        fun and friendly bot who will guide you through your interactive learning journey. Along the way, you
                        get to build your own vocabulary lists, receive curated news articles in your target language, and even
                        see stats about your progress. You earn points and gain levels by playing mini-games or taking quizzes,
                        while still interacting with new friends and fellow language lovers. What’s not to like?</p>
                    <h2>FEATURES</h2>
                    <ul>
                        <li>Matching</li>
                        <li>Guidance</li>
                        <li>Gaming</li>
                        <li>Shiro</li>
                    </ul>
                    <h2>JOIN US - AMBASSADOR PROGRAMME</h2>
                    <p>Are you passionate about helping your friends enhance their learning of new languages? If so, do consider
                        joining our Ambassador Programme, where in return for spreading the word about Bilingua, you gain
                        benefits including access to premium features, site placement, and corporate networking
                        opportunities.</p>
                    <h2>JOIN US - CREATELLA</h2>
                    <p>Bilingua is a product of Creatella, a global community that creates products aimed at improving the lives
                        of users around the world. For more information, please visit our <a href="http://createl.la"
                                                                                             target="_blank">main website</a>.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>
</div>