<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<div data-page="chatroom" class="page navbar-fixed toolbar-fixed" xmlns="http://www.w3.org/1999/html">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner options-toolbar">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="chat-user">
                <img class="chat-user__image"
                     src="https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/images/115334main_image_feature_329_ys_full.jpg?itok=5fCNhx13">
                <div class="chat-user__name" id="chating-user"><!--Name--></div>
            </div>
            <div class="header">
                <div class="header__options">
                    <a href="#" class="link header__dots">
                        <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown">
                        <li><a href="#" class="js-learn learn">How to learn more</a></li>
                        <li><a href="#" class="js-delete">Delete chat</a></li>
                        <li><a href="#" class="js-block create-popup">Block user</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /End of Top Navbar-->
    <div class="content-blocks content-blocks--main">
        <div class="row no-gutter">
            <div class="tablet-30 user-box">
                <div class="user-box__header">
                    <img src="images/background-profile.jpg" class="user-box-banner">
                </div>

                <div class="user-box__avatar">
                    <img src="images/default-avatar.png" class="user-box-avatar">
                </div>

                <div class="user-box__flag f32">
                    <span class="js-user-flag"></span>
                </div>

                <div class="user-box__welcome">
                    <p class="js-user-box-name"></p>
                </div>

                <div class="user-fixed-text">
                    <p class="user-fixed-text__about"><span class="js-gender"></span><span class="js-age"></span>
                        <span class="js-location"></span></p>
                </div>

                <div class="content-block languages">
                    <div class="rows languages__wrapper">
                        <div class="row">
                            <div class="language-container js-speaking-language-container">
                                <p class="language-title">languages spoken</p>
                                <div class="rows languages__row">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="language-container js-learning-language-container">
                                <p class="language-title">languages learning</p>
                                <div class="rows languages__row">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-block user-interests">
                    <p class="user-interests__title">INTERESTS</p>
                        <div class="user-interests__chips">

                        </div>
                </div>

                <div class="user-box__button">
                    <p class="buttons-row share-button">
                        <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                    </p>
                    <p class="buttons-row feedback-button">
                        <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                    </p>
                </div>
            </div>
            <div class="tablet-70 col-100">

                <div class="main-column page-content messages-content chat-screen">
                    <div class="messages-wrapper">
                        <div class="messages chat">
                            <!-- Messages are Rendered Here -->
                        </div>
                    </div>

                    <div class="toolbar messagebar message-bar">
                        <div class="toolbar-inner">
                            <a class="message-bar__smiley">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </a>
                            <textarea placeholder="Write a message"></textarea>
                            <a href="#" class="link">
                                <i class="fa fa-paper-plane message-bar__send" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>


</div>
