<div data-page="filter-users" class="page navbar-fixed no-toolbar">
    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <div class="left">
                <a href="#" class="back link"><i class="icon icon-back"></i> &nbsp;&nbsp;CANCEL</a>
            </div>
            <div class="left">Filter Users</div>
        </div>
    </div>
    <!-- /End of Top Navbar-->

    <div class="content-blocks content-blocks--main">

        <div class="row no-gutter">

            <div class="tablet-30 user-box">
                <div class="user-box__header">
                    <img src="images/background-profile.jpg">
                </div>

                <div class="user-box__avatar">
                    <img src="images/default-avatar.png" id="user-box-avatar">
                </div>

                <div class="user-box__welcome">
                    <p>Welcome early user!</p>
                </div>

                <div class="user-box__mascot">
                    <img src="images/Shiro-thx.png">
                </div>

                <div class="user-box__shiro">
                    <p>I'm Shiro the tiger, I'll be your companion as you practise languages with Bilingua.</p>
                    <p>I'm building new and exciting features for you and I'll let you know as soon as they're available!</p>
                </div>

                <!--<div class="user-box__badges">-->

                <!--</div>-->

                <!--<div class="user-box__level">-->
                <!--<span id="user-level">Level 5</span></br>-->
                <!--<span id="level-name">Fast-learner!!</span>-->
                <!--</div>-->

                <!--<div class="user-box__points">-->
                <!--<span id="user-points">100pts</span></br>-->
                <!--<span id="weekly-points">(23 pts this week)</span>-->
                <!--</div>-->

                <!--<div class="user-box__notifications">-->
                <!--<h2>Notifications</h2>-->
                <!--<span class="notification">Mike stalked you 3 times</span></br>-->
                <!--<span class="notification">Anna sent you a message</span>-->
                <!--</div>-->

                <div class="user-box__button">
                    <p class="buttons-row share-button">
                        <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                    </p>
                    <p class="buttons-row feedback-button">
                        <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                    </p>
                </div>
            </div>

            <!-- Content-->
            <div class="tablet-70 col-100">
                <div class="main-column page-content">
                <div class="filter-users-wrapper">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="row interests">
                                    <div class="col-100">
                                        <div class="row title">
                                            <div class="col-100">Interests:</div>
                                        </div>
                                    </div>
                                    <div class="col-100">
                                        <div class="content"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row age">
                                    <div class="col-100">
                                        <div class="row title">
                                            <div class="col-100">Age Range:</div>
                                        </div>
                                    </div>
                                    <div class="col-100">
                                        <div class="row content">
                                            <div class="col-10"></div>
                                            <div class="col-80">
                                                <span class="rangeValues"></span>
                                                <div id="slider"></div>
                                            </div>
                                            <div class="col-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- Location -->
                                <div class="row location">
                                    <div class="col-100">
                                        <div class="row title">
                                            <div class="col-100">Location:</div>
                                        </div>
                                    </div>
                                    <div class="col-100">
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title floating-label">Country</div>
                                                <div class="item-input">
                                                    <input type="text" name="country" id="autocomplete_country">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Delayed to MVP 2
                            <div class="row distance">
                                <div class="col-100">
                                    <div class="row title"><div class="col-100">Distance:</div></div>
                                </div>
                                <div class="col-100">
                                    <div class="row content">
                                        <div class="col-10"></div>
                                        <div class="col-80">
                                            <div class="range-slider -distance">
                                                <span class="rangeValues"></span>
                                                <input value="50" min="5" max="100" step="5" type="range" name="distance">
                                            </div>
                                        </div>
                                        <div class="col-10"></div>
                                    </div>
                                </div>
                            </div>
                             -->
                            <li>
                                <div class="row language">
                                    <div class="col-100">
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title floating-label">Language:</div>
                                                <div class="item-input">
                                                    <input type="text" placeholder="Language" name="language"
                                                           id="autocomplete_language">
                                                </div>
                                            </div>
                                            <div class="col-50">
                                                <div class="language-selected-proficiency">
                                                    <div class="row proficiency-item -advanced">
                                                        <div class="proficiency-text">
                                                            advanced
                                                        </div>
                                                        <div class="proficiency-slider item-input">
                                                            <div class="range-slider">
                                                                <input type="range" min="1" max="5" value="3" step="1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row apply-button-row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <div id="filterUsersSubmitButton">
                            <a id="applyFilter" href="partners.html" class="link">
                                <span class="submit-btn button button-fill color-blue">APPLY</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-25"></div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>

</div>
