<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<div data-page="interests" class="page tabbar-labels-fixed">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <div class="left">
                <a href="#" class="link icon-only back">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="left">Interests</div>
        </div>
    </div>
    <!-- /End of Top Navbar-->


    <div class="page-content">
        <ul class="error-message">
            <li>
                <div class="error-message__register"><strong><span class="error-message__dismiss">&times;</span>&nbsp;
                    Error:</strong><span
                    class="error-message__text"></span></div>
            </li>
        </ul>
        <div class="errors">
            <ul>
                <li>
                    <div class="error-msg-interests"></div>
                </li>
            </ul>
        </div>
        <h2>What do you like?</h2>
        <p>Pick 5 to 7 interests so we can help you find interesting conversation partners.</p>
        <div class="content-block js-interests-container">


        </div>
        <div class="row">
            <div class="col-25"></div>
            <div class="col-50">
                <p>
                    <a href="#" class="button show-more-button button-big button-fill button-raised color-pink ">
                        Show More
                    </a>
                </p>
            </div>
            <div class="col-25"></div>
        </div>
        <div class="row apply-button-row">
            <div class="col-25"></div>
            <div class="col-50">
                <div id="interestSubmitButton">
                    <a href="#" class="link">
                        <span class="finish submit-btn button button-fill color-blue">APPLY</span>
                    </a>
                </div>
            </div>
            <div class="col-25"></div>
        </div>
        <div class="interest-selection-wrapper">
            <form id="interests-form">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">Didn't find yours? View them all!
                                            </div>
                                            <div id="searchWrapperInterest" class="item-input">
                                                <div>
                                                    <input class="interest-search--input" type="text"
                                                           placeholder="Write your interest" id="searchInputInterest">
                                                    <i class="fa fa-close interest-search--close"
                                                       aria-hidden="true"></i>
                                                </div>
                                                <div class="search-dropdown" id="dropdownAutoComplete">
                                                    <div class="row search-dropdown__items"></div>
                                                    <div class="row search-dropdown-close__buttons">
                                                        <div class="col-70"></div>
                                                        <div class="col-30"><a class="button button-fill color-blue">Close</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


    </div>

    <!-- Bottom Toolbar-->

    <!-- <div class="toolbar">
        <div class="toolbar-inner">
            <a href="index.html" class="link">Home</a>
            <a href="interests.html" class="link">Feature</a>
        </div>
    </div> -->
    <!-- /End of Bottom Toolbar-->

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>

</div>
