<div data-page="intro" class="page navbar-fixed toolbar-fixed">

    <!-- Content-->
    <div class="page-content">
        <!-- Slider container -->
        <div class="swiper-container">
            <!-- Slides wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
            </div>
            <!-- Pagination, if required -->
            <div class="swiper-pagination"></div>

            <div class="swiper-button-next"></div>

            <!-- Skip/Done Buttons -->
            <span class="intro-button skip"><a href="login.html">Skip</a></span>
            <span class="intro-button done"><a href="login.html">Done</a></span>
        </div>
        <!-- /End of Slider container -->
    </div>

</div>
