<div data-page="invite-friends" class="page navbar-fixed toolbar-fixed">
    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only back">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center invite">INVITE FRIENDS</div>
        </div>
    </div>
    <!-- /End of Top Navbar-->
    <!-- Top Tabbar-->
    <div class="toolbar tabbar">
        <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
        <a href="#" class="link icon-only back desktop-back">
            <i class="icon icon-back"></i>
        </a>
        <div class="toolbar-inner">
            <a href="#tab-1" class="tab-link active">Google contacts</a>
            <a href="#tab-2" class="tab-link">Facebook contacts</a>
        </div>
    </div>
    <!-- /End of Top Tabbar-->
    <!-- Content-->

    <div class="content-blocks content-blocks--main">

        <div class="row no-gutter">

            <div class="tablet-30 user-box">
                <div class="user-box__header">
                    <img src="images/background-profile.jpg">
                </div>

                <div class="user-box__avatar">
                    <img src="images/default-avatar.png" id="user-box-avatar">
                </div>

                <div class="user-box__welcome">
                    <p>Welcome early user!</p>
                </div>

                <div class="user-box__mascot">
                    <img src="images/Shiro-thx.png">
                </div>

                <div class="user-box__shiro">
                    <p>I'm Shiro the tiger, I'll be your companion as you practise languages with Bilingua.</p>
                    <p>I'm building new and exciting features for you and I'll let you know as soon as they're available!</p>
                </div>

                <!--<div class="user-box__badges">-->

                <!--</div>-->

                <!--<div class="user-box__level">-->
                <!--<span id="user-level">Level 5</span></br>-->
                <!--<span id="level-name">Fast-learner!!</span>-->
                <!--</div>-->

                <!--<div class="user-box__points">-->
                <!--<span id="user-points">100pts</span></br>-->
                <!--<span id="weekly-points">(23 pts this week)</span>-->
                <!--</div>-->

                <!--<div class="user-box__notifications">-->
                <!--<h2>Notifications</h2>-->
                <!--<span class="notification">Mike stalked you 3 times</span></br>-->
                <!--<span class="notification">Anna sent you a message</span>-->
                <!--</div>-->

                <div class="user-box__button">
                    <p class="buttons-row share-button">
                        <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                    </p>
                    <p class="buttons-row feedback-button">
                        <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                    </p>
                </div>
            </div>

            <div class="tablet-70 col-100">
                <div class="main-column tabs-swipeable-wrap swiper-container swiper-container-horizontal desktop-swiper">
                <div class="tabs swiper-wrapper">

                    <!-- Invite Google Contacts -->
                    <div id="tab-1" class="page-content tab swiper-slide active swiper-slide-active">
                        <div class="social-buttons">
                            <div class="row connect-google">
                                <div class="col-20"></div>
                                <div class="col-60">
                                    <a id="googleBtn" class="button button-big color-google-red button-fill button-raised"
                                       data-provider="google">
                                        <div class="row">
                                            <div class="col-10"></div>
                                            <div class="col-10">
                                                <i class="fa fa-google"></i>
                                            </div>
                                            <div class="col-70">Google</div>
                                            <div class="col-10"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-20"></div>
                            </div>
                        </div>
                        <div class="content-block google-contacts">
                            <div class="invite-google">
                                <p class="buttons-row">
                                    <a href="#" class="button button-fill button-raised" id="inviteGoogle">Invite</a>
                                </p>
                            </div>

                            <div class="list-block media-list">
                                <ul id="google-contacts-list">
                                    <li>
                                        <div class="item-content contact">
                                            <div class="item-inner">
                                                <label class="label-checkbox item-content contact__checkbox">
                                                    <input type="checkbox" name="my-checkbox" value="contact"
                                                           id="checkAllGoogle">
                                                    <div class="item-media">
                                                        <i class="icon icon-form-checkbox"></i>
                                                    </div>
                                                </label>
                                                <div class="item-title-row">
                                                    <div class="item-title contact__name">Select all</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Invite Gogole Contacts -->

                    <!-- Invite Facebook Contacts -->
                    <div id="tab-2" class="page-content tab swiper-slide swiper-slide-next">
                        <div class="row connect-facebook">
                            <div class="col-20"></div>
                            <div class="col-60">
                                <a id="fbBtn" class="button button-big color-fb-blue button-fill button-raised"
                                   data-provider="facebook">
                                    <div class="row color-fb-blue">
                                        <div class="col-10"></div>
                                        <div class="col-10">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                        <div class="col-70">Facebook</div>
                                        <div class="col-10"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-20"></div>
                            <div class="col-20"></div>
                            <div class="col-60">
                                <a id="fbShare" class="button button-big color-fb-blue button-fill button-raised"
                                   data-provider="facebook">
                                    <div class="row color-fb-blue">
                                        <div class="col-10"></div>
                                        <div class="col-10">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                        <div class="col-70">Share with Friends</div>
                                        <div class="col-10"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-20"></div>
                            <!--<div class="button button-big color-fb-blue button-fill button-raised" data-provider="facebook">-->
                        </div>
                    </div>
                    <!-- /Invite Facebook Contacts -->

                </div>
            </div>
            </div>

            </div>
        </div>



    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>
</div>
