<div data-page="language-selection" class="page navbar-fixed no-toolbar">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <div class="left">
                <a href="#" class="link icon-only back">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="left">Language Selection</div>
        </div>
    </div>
    <!-- /End of Top Navbar-->


    <div class="page-content">
        <div class="language-selection-wrapper">
            <form id="language-form">
                <div class="errors">
                    <ul>
                        <li>
                            <div class="error-msg-speak"></div>
                        </li>
                        <li>
                            <div class="error-msg-practice"></div>
                        </li>
                    </ul>
                </div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">What languages do you speak?</div>
                                            <div class="item-input">
                                                <div id="searchSpeak">
                                                    <input type="text" id="searchInputSpeak">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                </div>
                                                <div class="language-search-dropdown" id="dropdownSpeak">
                                                    <div class="row dropdown-items"></div>
                                                    <div class="row dropdown-btns">
                                                        <div class="col-70"></div>
                                                        <div class="col-30"><a class="button button-fill color-blue">Close</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="row language-selected-wrapper" id="selectedSpeak">
                            <div class="col-5"></div>
                            <div class="col-90"></div>
                            <div class="col-5"></div>
                        </div>
                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">What languages are you trying to
                                                learn?
                                            </div>
                                            <div class="item-input">
                                                <div id="searchPractice">
                                                    <input type="text" id="searchInputPractice">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                </div>
                                                <div class="language-search-dropdown" id="dropdownPractice">
                                                    <div class="row dropdown-items"></div>
                                                    <div class="row dropdown-btns">
                                                        <div class="col-70"></div>
                                                        <div class="col-30"><a class="button button-fill color-blue">Close</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="row language-selected-wrapper" id="selectedPractice">
                            <div class="col-5"></div>
                            <div class="col-90"></div>
                            <div class="col-5"></div>
                        </div>
                    </ul>
                </div>
                <div class="row apply-button-row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <div id="languageSelectionSubmitButton">
                            <a href="#" class="link">
                                <span class="submit-btn button button-fill color-blue">APPLY</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-25"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>

</div>
