<div data-page="login" class="page navbar-fixed toolbar-fixed">

    <!-- Content-->
    <div class="page-content">
        <div class="login-page">
            <div class="social-buttons">
                <div class="row">
                    <div class="col-20"></div>
                    <div class="col-60">
                        <a id="fbBtn" class="button button-big color-fb-blue button-fill button-raised"
                           data-provider="facebook">
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-10">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="col-70">Facebook</div>
                                <div class="col-10"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-20"></div>
                </div>
                <div class="row">
                    <div class="col-20"></div>
                    <div class="col-60">
                        <a id="googleBtn" class="button button-big color-google-red button-fill button-raised"
                           data-provider="google">
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-10">
                                    <i class="fa fa-google"></i>
                                </div>
                                <div class="col-70">Google</div>
                                <div class="col-10"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-20"></div>
                </div>
            </div>

            <div class="row separator">
                <div class="col-25"></div>
                <div class="col-20">
                    <hr>
                </div>
                <div class="col-10">OR</div>
                <div class="col-20">
                    <hr>
                </div>
                <div class="col-25"></div>
            </div>

            <!-- Buttons Row as Tabs Controller -->
            <div class="buttons-row">
                <!-- Link to Login Tab, active by default -->
                <a href="#loginTab" class="tab-link active button">Login</a>
                <!-- Link to Registration Tab -->
                <a href="#regTab" class="tab-link button">Register</a>
            </div>

            <!-- Tabs Wrapper -->
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <!-- Login Tab, active by default -->
                    <div id="loginTab" class="tab active">
                        <div class="content-block">
                            <form id="login-form">
                                <div class="list-block">
                                    <ul>
                                        <li>
                                            <div class="error-login"><strong><span class="error-dismiss">&times;</span>&nbsp;
                                                Error:</strong><span class="error-msg"></span></div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon icon-form-email"></i></div>
                                                <div class="item-inner">
                                                    <div class="item-title floating-label">E-mail</div>
                                                    <div class="item-input">
                                                        <input type="email" id="login-email" name="login-email"
                                                               data-validation="email"
                                                               data-validation-error-msg="You did not enter a valid e-mail"
                                                               data-validation-error-msg-container=".error-login .error-msg">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                                <div class="item-inner">
                                                    <div class="item-title floating-label">Password</div>
                                                    <i class="fa fa-eye form-control-feedback"></i>
                                                    <div class="item-input form-group has-feedback">
                                                        <input type="password" name="login-pass" id="password"
                                                               data-validation="length" data-validation-length="min6"
                                                               data-validation-error-msg="Please enter a password with six or more characters."
                                                               data-validation-error-msg-container=".error-login .error-msg">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="forgot-pass">
                                            <a class="external" href="">Forgot password?</a>
                                        </li>
                                    </ul>
                                    <div class="row login-button-row">
                                        <div class="col-25"></div>
                                        <div class="col-50">
                                            <input type="submit" name="submit" value="Login"
                                                   class="button button-big button-fill button-raised color-blue login-btn"
                                                   id="submitLogin">
                                        </div>
                                        <div class="col-25"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Registration Tab -->
                    <div id="regTab" class="tab">
                        <div class="content-block">
                            <form id="registration-form">
                                <div class="list-block">
                                    <ul>
                                        <li>
                                            <div class="error-reg"><strong><span class="error-dismiss">&times;</span>&nbsp;
                                                Error:</strong><span class="error-msg"></span></div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon icon-form-email"></i></div>
                                                <div class="item-inner">
                                                    <div class="item-title floating-label">E-mail</div>
                                                    <div class="item-input">
                                                        <input type="email" name="reg-email" data-validation="email"
                                                               data-validation-error-msg="You did not enter a valid e-mail"
                                                               data-validation-error-msg-container=".error-reg .error-msg">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                                <div class="item-inner">
                                                    <div class="item-title floating-label">Password</div>
                                                    <i class="fa fa-eye form-control-feedback"></i>
                                                    <div class="item-input form-group has-feedback">
                                                        <input type="password" name="reg-pass" id="password-reg"
                                                               data-validation="length" data-validation-length="min6"
                                                               data-validation-error-msg="Please enter a password with six or more characters."
                                                               data-validation-error-msg-container=".error-reg .error-msg">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-25"></div>
                                        <div class="col-50">
                                            <input type="submit" name="submit" value="Register"
                                                   class="button button-big button-fill button-raised color-blue login-btn"
                                                   id="submitReg">
                                            <!--<p><a href="#" class="button button-big button-fill button-raised color-blue login-btn" id="submitReg">Register</a></p>-->
                                        </div>
                                        <div class="col-25"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
