<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<div data-page="my-profile" class="page navbar-fixed toolbar-fixed profile-page">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner options-toolbar">
            <div class="navbar__logo">Bilingua</div>
            <div class="right">
                <div class="header">
                    <div class="header__options">

                        <a href="#" class="link icon-only header__dots">
                            <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /End of Top Navbar-->

    <!-- Toolbar-->
    <div class="toolbar tabbar">

        <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>

        <div class="toolbar-inner">
            <a href="chats.html" class="link">
                Chats
                <div id="total-unread-messages" class="total-unread-messages">

                </div>
            </a>
            <a href="partners.html" class="link active">Partners</a>
            <a href="my-profile.html" class="link">Profile</a>
            <span class="tab-link-highlight"></span>
        </div>

        <div class="header desktop-options">
            <div class="header__options">

                <a href="#" class="link icon-only header__dots">
                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                </a>
                <ul class="dropdown">
                </ul>
            </div>
        </div>
    </div>
    <!-- /End of Toolbar-->

    <div class="page-content">

        <div class="content-blocks content-blocks--main">

            <div class="row no-gutter">

                <div class="tablet-30 user-box">
                    <div class="user-box__header">
                        <img src="images/background-profile.jpg">
                    </div>

                    <div class="user-box__avatar">
                        <img src="images/default-avatar.png" class="js-user-box-avatar">
                    </div>

                    <div class="user-box__welcome">
                        <p>Welcome early user!</p>
                    </div>

                    <div class="user-box__mascot">
                        <img src="images/Shiro-thx.png">
                    </div>

                    <div class="user-box__shiro">
                        <p>I'm Shiro the tiger, I'll be your companion as you practise languages with Bilingua.</p>
                        <p>I'm building new and exciting features for you and I'll let you know as soon as they're available!</p>
                    </div>

                    <!--<div class="user-box__badges">-->

                    <!--</div>-->

                    <!--<div class="user-box__level">-->
                    <!--<span id="user-level">Level 5</span></br>-->
                    <!--<span id="level-name">Fast-learner!!</span>-->
                    <!--</div>-->

                    <!--<div class="user-box__points">-->
                    <!--<span id="user-points">100pts</span></br>-->
                    <!--<span id="weekly-points">(23 pts this week)</span>-->
                    <!--</div>-->

                    <!--<div class="user-box__notifications">-->
                    <!--<h2>Notifications</h2>-->
                    <!--<span class="notification">Mike stalked you 3 times</span></br>-->
                    <!--<span class="notification">Anna sent you a message</span>-->
                    <!--</div>-->

                    <div class="user-box__button">
                        <p class="buttons-row share-button">
                            <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                        </p>
                        <p class="buttons-row feedback-button">
                            <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                        </p>
                    </div>
                </div>

                <div class="col-100 tablet-70">
                    <div class="main-column my-profile hide-bars-on-scroll">
                    <div class="banner-image">
                        <img src="images/default-cover.jpg" id="banner-image">
                        <div class="banner-image__edit"><a href="#"><i class="fa fa-pencil"></i></a></div>
                    </div>
                    <div class="profile f32">
                        <div class="profile__avatar">
                            <img
                                src="images/default-avatar.png" id="user-avatar">
                        </div>
                        <div class="profile__edit"><a href="#"><i class="fa fa-pencil"></i></a></div>
                        <div class="profile__flag">
                            <span class="" id="user-flag"></span>
                        </div>


                    </div>
                    <div class="fixed-text__edit"><a href="#" class="filling-profile"><i class="fa fa-pencil"></i></a>
                    </div>

                    <div class="fixed-text">
                        <p class="fixed-text__user-name" id="user-name"></p>
                        <!--<p class="fixed-text__tagline" id="tagline"></p>-->
                        <p class="fixed-text__about"><span id="gender"></span><span id="age"></span>
                            <span id="location"></span></p>

                    </div>

                    <div class="content-block languages">
                        <div class="languages__edit"><a href="#"><i class="fa fa-pencil"></i></a></div>


                        <div class="rows languages__wrapper">
                            <div class="language-container js-speaking-language-container">
                                <p class="language-title">languages spoken</p>
                                <div class="rows languages__row">

                                </div>
                            </div>

                            <div class="language-container arrow js-right-arrow">
                                <div class="rows">
                                    <div class="">
                                        <div><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="language-container js-learning-language-container">
                                <p class="language-title">languages learning</p>
                                <div class="rows languages__row">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-block interests">
                        <div class="interests__edit"><a href="#"><i class="fa fa-pencil"></i></a></div>
                        <h2 class="interests__title">INTERESTS</h2>
                        <div class="interests__chips">

                        </div>
                    </div>

                    <div class="content-block about">
                        <div class="about__edit"><a href="#" class="create-popup-about"><i class="fa fa-pencil"></i></a></div>
                        <h2 class="about__title">ABOUT ME</h2>
                        <p class="about__me" id="about-me"></p>

                    </div>
                </div>
                </div>

            </div>
        </div>

        <div class="footer">
            <ul>
                <li>Copyright Bilingua 2016 - </li>
                <li><a href="my-settings.html"> Settings - </a></li>
                <li><a href="invite-friends.html"> Invite Friends - </a></li>
                <li><a href="about.html"> About - </a></li>
                <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
                <li><a href="#" class="feedback"> Feedback</a></li>
            </ul>
        </div>

    </div>
</div>
