<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<div data-page="my-settings" class="page navbar-fixed toolbar-fixed settings-page">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center settings">Settings</div>
        </div>
    </div>
    <!-- /End of Top Navbar-->

    <div class="content-blocks content-blocks--main">

        <div class="row no-gutter">

            <div class="tablet-30 user-box">
                <div class="user-box__header">
                    <img src="images/background-profile.jpg">
                </div>

                <div class="user-box__avatar">
                    <img src="images/default-avatar.png" id="user-box-avatar">
                </div>

                <div class="user-box__welcome">
                    <p>Welcome early user!</p>
                </div>

                <div class="user-box__mascot">
                    <img src="images/Shiro-thx.png">
                </div>

                <div class="user-box__shiro">
                    <p>I'm Shiro the tiger, I'll be your companion as you practise languages with Bilingua.</p>
                    <p>I'm building new and exciting features for you and I'll let you know as soon as they're available!</p>
                </div>

                <!--<div class="user-box__badges">-->

                <!--</div>-->

                <!--<div class="user-box__level">-->
                <!--<span id="user-level">Level 5</span></br>-->
                <!--<span id="level-name">Fast-learner!!</span>-->
                <!--</div>-->

                <!--<div class="user-box__points">-->
                <!--<span id="user-points">100pts</span></br>-->
                <!--<span id="weekly-points">(23 pts this week)</span>-->
                <!--</div>-->

                <!--<div class="user-box__notifications">-->
                <!--<h2>Notifications</h2>-->
                <!--<span class="notification">Mike stalked you 3 times</span></br>-->
                <!--<span class="notification">Anna sent you a message</span>-->
                <!--</div>-->

                <div class="user-box__button">
                    <p class="buttons-row share-button">
                        <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                    </p>
                    <p class="buttons-row feedback-button">
                        <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                    </p>
                </div>
            </div>

            <div class="tablet-70 col-100">
                <div class="main-column page-content my-settings">

                <form id="my-form" class="list-block store-data form-content form-list">
                    <ul>
                        <li>
                            <div class="item-content email-item">
                                <div class="item-media email-item__media">Your email:</div>
                                <div class="item-inner email-item__inner">
                                    <div class="info">
                                        <a href="">
                                            <i class="fa fa-info-circle info__icon" aria-hidden="true"></i>
                                            <p>To change your email, please contact us at <u>hello@bilingua.io</u></p>
                                        </a>
                                    </div>
                                    <p id="email">Loading email...</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content password-item">
                                <div class="item-media password-item__media">Your password:</div>
                                <div class="item-inner password-item__inner">
                                    <a href="#" class="edit-form"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <i class="fa fa-eye form-control-feedback"></i>
                                    <div class="item-input form-group has-feedback">
                                        <input type="password" name="password" value="change your password" readonly
                                               id="password">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="save">
                        <input type="submit" name="submit" value="Save"
                               class="button button-fill button-raised notification-single">
                    </div>

                </form>

                <div class="account">

                    <div class="account__logout">
                        <p class="buttons-row">
                            <a href="#" class="button button--outline logout">LOGOUT</a>
                        </p>
                    </div>

                    <a href="#" class="account__delete confirm-ok">Delete account</a>
                    <p class="account__warning">Warning: this cannot be undone!</p>
                </div>
            </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>
</div>