<div data-page="partners" class="page navbar-fixed toolbar-fixed">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner options-toolbar">
            <div class="navbar__logo">Bilingua</div>
            <div class="right">
                <a href="filter-users.html" class="link icon-only"><i class="fa fa-filter"></i></a>
                <div class="header">
                    <div class="header__options">

                        <a href="#" class="link icon-only header__dots">
                            <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /End of Top Navbar-->

    <!-- Toolbar-->
    <div class="toolbar tabbar">
        <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
        <div class="toolbar-inner">
            <a href="chats.html" class="link">
                Chats
                <div id="total-unread-messages" class="total-unread-messages">

                </div>
            </a>
            <a href="partners.html" class="link active">Partners</a>
            <a href="my-profile.html" class="link">Profile</a>
            <span class="tab-link-highlight"></span>
        </div>

        <a href="filter-users.html" class="link icon-only desktop-filter"><i class="fa fa-filter"></i></a>

        <div class="header desktop-options">
            <div class="header__options">

                <a href="#" class="link icon-only header__dots">
                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                </a>
                <ul class="dropdown">
                </ul>
            </div>
        </div>
    </div>
    <!-- /End of Toolbar-->

    <div class="page-content infinite-scroll pull-to-refresh-content hide-bars-on-scroll partners" data-distance="100" data-ptr-distance="55">
        <!-- Pull to Refresh -->
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>

        <div class="content-blocks content-blocks--main">

            <div class="row no-gutter">

                <div class="tablet-30 user-box">
                    <div class="user-box__header">
                        <img src="images/background-profile.jpg">
                    </div>

                    <div class="user-box__avatar">
                        <img src="images/default-avatar.png" id="user-partners-avatar">
                    </div>

                    <div class="user-box__welcome">
                        <p>Welcome early user!</p>
                    </div>

                    <div class="user-box__mascot">
                        <img src="images/Shiro-thx.png">
                    </div>

                    <div class="user-box__shiro">
                        <p>I'm Shiro the tiger, I'll be your companion as you practise languages with Bilingua.</p>
                        <p>I'm building new and exciting features for you and I'll let you know as soon as they're available!</p>
                    </div>

                    <!--<div class="user-box__badges">-->

                    <!--</div>-->

                    <!--<div class="user-box__level">-->
                    <!--<span id="user-level">Level 5</span></br>-->
                    <!--<span id="level-name">Fast-learner!!</span>-->
                    <!--</div>-->

                    <!--<div class="user-box__points">-->
                    <!--<span id="user-points">100pts</span></br>-->
                    <!--<span id="weekly-points">(23 pts this week)</span>-->
                    <!--</div>-->

                    <!--<div class="user-box__notifications">-->
                    <!--<h2>Notifications</h2>-->
                    <!--<span class="notification">Mike stalked you 3 times</span></br>-->
                    <!--<span class="notification">Anna sent you a message</span>-->
                    <!--</div>-->

                    <div class="user-box__button">
                        <p class="buttons-row share-button">
                            <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                        </p>
                        <p class="buttons-row feedback-button">
                            <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                        </p>
                    </div>
                </div>

                <!-- Users List -->
                <div class="tablet-70 col-100">
                    <div class="main-column content-block users-page">
                    <div class="list-block media-list users-list">
                        <ul class="f32">


                        </ul>
                    </div>
                </div>
                </div>

                </div>
            </div>


        <!-- Filter Error Message -->
        <div class="filter-error-msg">
            <div class="row">
                <div class="col-100"></div>
            </div>
            <div class="row">
                <div class="col-33"></div>
                <div class="col-33"><a class="button button-fill color-blue"
                                       onclick="mainView.router.refreshPage();"></a>
                </div>
                <div class="col-33"></div>
            </div>
        </div>

        <!-- Preloader -->
        <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
        </div>

        <div class="footer">
            <ul>
                <li>Copyright Bilingua 2016 - </li>
                <li><a href="my-settings.html"> Settings - </a></li>
                <li><a href="invite-friends.html"> Invite Friends - </a></li>
                <li><a href="about.html"> About - </a></li>
                <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
                <li><a href="#" class="feedback"> Feedback</a></li>
            </ul>
        </div>
    </div>

</div>
