<div data-page="profile-filling" class="page navbar-fixed no-toolbar">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="left">Profile Filling</div>
        </div>
    </div>
    <!-- /End of Top Navbar-->

    <div class="page-content">
        <div class="profile-filling-wrapper">
            <form id="profile-form">
                <div class="errors">
                    <ul>
                        <li>
                            <div class="error-msg-avatar"></div>
                        </li>
                        <li>
                            <div class="error-msg-first"></div>
                        </li>
                        <li>
                            <div class="error-msg-last"></div>
                        </li>
                        <li>
                            <div class="error-msg-gender"></div>
                        </li>
                        <li>
                            <div class="error-msg-age"></div>
                        </li>
                        <li>
                            <div class="error-msg-country"></div>
                        </li>
                    </ul>
                </div>
                <div class="row picture">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <img src="images/placeholder_user_pic.png" id="avatar-image">
                    </div>
                    <div class="col-25"></div>
                </div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-50">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">First Name</div>
                                            <div class="item-input">
                                                <input type="text" name="firstname" autocomplete="off">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-50">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">Last Name</div>
                                            <div class="item-input">
                                                <input type="text" name="lastname" autocomplete="off">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title title">Gender</div>
                                            <div class="row">
                                                <div class="col-33">
                                                    <a href="#" id="gender_m"
                                                       class="button button-fill color-blue gender-unselected">Male</a>
                                                </div>
                                                <div class="col-33">
                                                    <a href="#" id="gender_f"
                                                       class="button button-fill color-blue gender-unselected">Female</a>
                                                </div>
                                                <div class="col-33">
                                                    <a href="#" id="gender_o"
                                                       class="button button-fill color-blue gender-unselected">Other</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">Birthday</div>
                                            <div class="item-input">
                                                <input type="date" name="birthday" placeholder="Birthday" id="your-bithday">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">Age</div>
                                            <div class="item-input">
                                                <input class="pick-age" type="number" name="age" id="picker_age"
                                                       autocomplete="off">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">Country</div>
                                            <div class="item-input">
                                                <input type="text" name="country" id="autocomplete_country"
                                                       autocomplete="off">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-100">
                                    <div class="item-content">
                                        <div class="item-inner" >
                                            <div class="item-title floating-label" >City</div>
                                            <div class="item-input">
                                                <input type="text" name="city"
                                                    id="autocomplete_city"   autocomplete="off">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="row apply-button-row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <div id="profileFillingSubmitButton">
                            <a href="#" class="link">
                                <span class="submit-btn button button-fill color-blue">APPLY</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-25"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>
</div>
