<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<div data-page="user-profile" class="page navbar-fixed toolbar-fixed">

    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner options-toolbar">
            <a href="chats.html" class="navbar__logo desktop-logo">Bilingua</a>
            <a href="#" class="link icon-only back">
                <i class="icon icon-back"></i>
            </a>
            <div class="right">
                <div class="header">
                    <div class="header__options">
                        <a href="#" class="link icon-only header__dots">
                            <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdowns">
                            <li><a href="#" class="item-link list-button js-block">Block & Report</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /End of Top Navbar-->
    <div class="content-blocks content-blocks--main">

        <div class="row no-gutter">

            <div class="tablet-30 user-box">
                <div class="user-box__header">
                    <img src="images/background-profile.jpg">
                </div>

                <div class="user-box__avatar">
                    <img src="images/default-avatar.png" id="user-box-avatar">
                </div>

                <div class="user-box__welcome">
                    <p>Welcome early user!</p>
                </div>

                <div class="user-box__mascot">
                    <img src="images/Shiro-thx.png">
                </div>

                <div class="user-box__shiro">
                    <p>I'm Shiro the tiger, I'll be your companion as you practise languages with Bilingua.</p>
                    <p>I'm building new and exciting features for you and I'll let you know as soon as they're available!</p>
                </div>

                <!--<div class="user-box__badges">-->

                <!--</div>-->

                <!--<div class="user-box__level">-->
                <!--<span id="user-level">Level 5</span></br>-->
                <!--<span id="level-name">Fast-learner!!</span>-->
                <!--</div>-->

                <!--<div class="user-box__points">-->
                <!--<span id="user-points">100pts</span></br>-->
                <!--<span id="weekly-points">(23 pts this week)</span>-->
                <!--</div>-->

                <!--<div class="user-box__notifications">-->
                <!--<h2>Notifications</h2>-->
                <!--<span class="notification">Mike stalked you 3 times</span></br>-->
                <!--<span class="notification">Anna sent you a message</span>-->
                <!--</div>-->

                <div class="user-box__button">
                    <p class="buttons-row share-button">
                        <a href="invite-friends.html" class="button button-fill button-raised color-pink">Share your love</a>
                    </p>
                    <p class="buttons-row feedback-button">
                        <a href="#" class="button button-fill button-raised color-pink feedback">Write us your feedback</a>
                    </p>
                </div>
            </div>

            <div class="tablet-70 col-100">
                <div class="main-column page-content user-profile">
        <div class="banner-image">
            <img src="images/default-cover.jpg" id="banner-image">
        </div>
        <div class="profile-user f32">
            <div class="profile-user__avatar">
                <img
                    src="images/default-avatar.png" id="user-avatar">
            </div>
            <div class="profile-user__flag">
                <span class="" id="user-flag"></span>
            </div>
        </div>

        <div class="user-fixed-text">
            <p class="user-fixed-text__user-name" id="user-name"></p>
            <!--<p class="user-fixed-text__tagline" id="tagline"></p>-->
            <p class="user-fixed-text__about"><span id="gender"></span><span id="age"></span>
                <span id="location"></span></p>
        </div>

        <div class="content-block languages">
            <div class="rows languages__wrapper">
                <div class="language-container js-speaking-language-container">
                    <p class="language-title">languages spoken</p>
                    <div class="rows languages__row">

                    </div>
                </div>

                <div class="language-container arrow js-right-arrow">
                    <div class="rows">
                        <div class="">
                            <div><i class="fa fa-chevron-right"></i></div>
                        </div>
                    </div>
                </div>

                <div class="language-container js-learning-language-container">
                    <p class="language-title">languages learning</p>
                    <div class="rows languages__row">

                    </div>
                </div>
            </div>
        </div>

        <div class="content-block user-interests">
            <div class="user-interests__chips">

            </div>
        </div>

        <div class="content-block user-about">
            <p class="user-about__me" id="about-me"></p>
        </div>

        <div class="chat-init">
            <p class="buttons-row chat__button">
                <a href="#" class="button button-big button-fill button-raised color-pink">CHAT NOW</a>
            </p>
        </div>

    </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Copyright Bilingua 2016 - </li>
            <li><a href="my-settings.html"> Settings - </a></li>
            <li><a href="invite-friends.html"> Invite Friends - </a></li>
            <li><a href="about.html"> About - </a></li>
            <li><a href="https://bilingua.io/" class="external" target="_blank"> Blog - </a></li>
            <li><a href="#" class="feedback"> Feedback</a></li>
        </ul>
    </div>
</div>
