/* footer for all the pages in desktop-view */
.footer {
    // Hide desktop footer on mobile
    display: none;

    // Show desktop footer on desktop view
    @include desktop-view {
        display: block;
        background: $color-turquoise;
        padding: 20px 60px;
        margin-top: 40px;
        z-index: 15;
    }

    // Footer links
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            display: inline;
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}
