div.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    max-width: 700px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

    @include desktop-view {
        max-width: 100%;
    }

    .container {
        max-width: 100%;
    }
}

// 3 dots in header
.desktop-options {
    display: none;

    @include desktop-view {
        display: block;
        position: relative;
        top: -34px;
        right: 5%;
        width: 30px;
        height: 30px;
        float: right;

        .link {
            padding: 0 16px;
        }
    }
}

// 2 main blocks in desktop view
.content-blocks {
    @include desktop-view {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    // Offset height of main section by header and footer size
    &--main {
        height: auto;
        @include desktop-view {
            min-height: calc(100% - 61px - 40px);
        }
    }
}

// Main content block
.main-column {
    @include desktop-view {
        margin-left: 50px;
        max-width: 700px;
    }
}

// Add cloud background on desktop view
.page {
    @include desktop-view {
        background: url('../images/bilingua-background-desktop.jpg') no-repeat center;
        background-size: cover;
        overflow: auto;
    }
}

// Logo
.desktop-logo {
    // Hide on mobile
    display: none;

    // Show on desktop
    @include desktop-view {
        display: block;
    }
}

// User box
.user-box {
    display: none;

    @include desktop-view {
        display: block;
        background: #fff;
        max-width: 300px;
        border-radius: 6px;
        padding-bottom: 30px;
        color: #757575;
    }

    &__header {
        img {
            height: 70px;
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }

    &__avatar {
        text-align: center;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        margin-top: -50px;

        img {
            width: 100%;
            height: 100%;
            border: 5px solid #fff;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__welcome {
        text-align: center;
        color: #757575;
    }

    &__mascot {
        margin: 0 auto;
        width: 220px;

        img {
            width: 100%;
        }
    }

    &__shiro {
        text-align: center;
        padding: 0 30px;
        color: #757575;
    }

    &__button {
        margin-top: 30px;
    }

    .share-button {
        width: 70%;
        margin: 0 auto;
    }

    .feedback-button {
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;

        .button {
            background: #45d0d3 !important;
        }
    }

    &__level {
        text-align: center;
        margin-top: 15px;
    }

    &__points {
        text-align: center;
        margin-top: 15px;
    }

    &__notifications {
        text-align: center;

        h2 {
            text-align: center;
            margin-top: 35px;
            margin-bottom: 10px;
            color: #2196f3;
        }
    }
}
